<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>call ui</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<script src="../../static/js/tooltip/popper.js"></script>
	<script>
		const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
		function initCheckDevice() {
			// PC
			if (!isMobile) {
				document.body.classList.add("is-pc");
			}
		}
		window.onload = ()=> {
			initCheckDevice();

			/*
				임시코드입니다. 수정하여 사용 요망
			*/
		   
			// 툴팁 default : 페이지 내 1개의 툴팁에서만 정상 동작 >> 복수 툴팁의 경우 별로 스크립트 개발 필요
			const tooltipBtn = document.querySelector('.btn-tooltip'); 
			const tooltip = document.querySelector('.tooltip-wrap');
			const chckboxTooltip = document.querySelector(".chckbox-area .tooltip-wrap");
		
			const popperInstance = Popper.createPopper(tooltipBtn, tooltip, {
				placement: 'top',
				modifiers: [
					{
						name: 'offset',
						options: {
							offset: [0, 8],
						},
					},
					{
						name: 'flip',
						options: {
							fallbackPlacements: ['top', 'bottom'],
						},
					},
				],
			});

			function show() {
				// Make the tooltip visible
				tooltip.setAttribute('data-show', '');

				// Enable the event listeners
				popperInstance.setOptions((options) => ({
					...options,
					modifiers: [
						...options.modifiers,
						{ name: 'eventListeners', enabled: true },
					],
				}));

				// Update its position
				popperInstance.update();
			}

			function hide() {
				// Hide the tooltip
				tooltip.removeAttribute('data-show');

				// Disable the event listeners
				popperInstance.setOptions((options) => ({
					...options,
					modifiers: [
						...options.modifiers,
						{ name: 'eventListeners', enabled: false },
					],
				}));
			}

			const showEvents = ['click', 'focus'];
			const hideEvents = ['click(.tooltip-close);', 'blur'];

			showEvents.forEach((event) => {
				tooltipBtn.addEventListener(event, show);
			});

			hideEvents.forEach((event) => {
				tooltipBtn.addEventListener(event, hide);
			});
		}
	</script>
</head>
<body>
	<div class="page-wrapper">
		<!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
			</div>
			<div class="header__btn btn-group">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->
	
		<!-- container -->
		<div class="container">

			<!-- 아코디언 영역 -->
			<div class="section__cont desc" style="padding-top:86px;">
				<div class="cont__wrap">
					<h3 style="font-weight:600;opacity:0.8;font-size:18px;margin-bottom:12px;">[체크박스가 포함된 케이스]</h3>
					<!-- 체크박스가 포함된 경우 -->
					<div class="accordion-container open"><!-- 열림 --> 
					<!-- 닫힘 <div class="accordion-container"> -->
						<div class="chckbox-area accordion-header"><!-- 아코디언버튼 -->
							<div class="chck-group">
								<input type="checkbox" id="chck01" class="chck-input">
								<label for="chck01" class="chck-label">
									<span class="chck-box"></span>
									전자서명을 위한 고객정보 활용동의
								</label>
							</div>
							<span class="bubble-box topleft">
								<!-- <span class="bubble-box"> -->
									<span class="txt-wrap">
										고객정보 활용동의를 체크해 주세요
									</span>
									<div class="bubble-box-arrow"></div>
								</span>
							<button type="button" class="btn-toggle">
								<span class="img-box ico-toggle">
									<img src="../../static/images/icon/ic-chips-arrow-gray.svg">
								</span>
							</button>
						</div>
						<div class="accordion-content"><!-- 아코디언 컨텐트 -->
							<ul class="bullet-list">
								<li class="bullet-item">
									카드에서 은행계좌로 변경 시, 결제일은 매달 15일이며 납부방법 변경방식(즉시, 다음달)에 따라 결제일이 변동될 수 있습니다. 
									출금날짜에 잔고가 부족할 경우 추가로 출금됩니다. 카드에서 은행계좌로 변경 시, 결제일은 매달 15일이며 납부방법 변경방식(즉시, 다음달)에 따라 
									결제일이 변동될 수 있습니다. 
									출금날짜에 잔고가 부족할 경우 추가로 출금됩니다. 카드에서 은행계좌로 변경 시, 결제일은 매달 15일이며 납부방법 변경방식(즉시, 다음달)에 따라 
									결제일이 변동될 수 있습니다. 
									출금날짜에 잔고가 부족할 경우 추가로 출금됩니다.
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- 자세히보기-간단히보기 버튼의 경우 -->
				<div class="cont__wrap">
					<h3 style="font-weight:600;opacity:0.8;font-size:18px;margin-bottom:12px;">[자세히보기-간단히보기 버튼 케이스]</h3>
					<div class="info-col-wrap">
						<div class="plan-wrap"> 
							<div class="col">
								<div class="txt-plan">
									<span class="current">12GB</span>
									<span class="total">/ 무제한</span>
								</div>
								<div class="progress-area realtime">
									<span class="progress-bg">
										<!-- style.width %로 조절 -->
										<span class="progress-bar" style="width:100%;"></span>
									</span>
								</div>
								<p class="txt-caution">+ 다 쓰면 최대 1Mbps</p>
							</div>
							<div class="col accordion-container open"> <!-- 열림 -->
								<!-- 닫힘 <div class="col accordion-container open"> -->
								<div class="list-plan accordion-content"><!-- 아코디언 컨텐트 -->
									<div class="row">
										<span class="txt-title">
											참 쉬운 가족 데이터
											<button class="img-box btn-tooltip">
												<img src="../../static/images/icon/ic-circle-quesition.svg" alt="">
											</button>
											<span class="tooltip-wrap">
												<!-- 브라우저 띄울 때 다음과 같이 출력됨 <span class="tooltip-wrap" role="tooltip" data-show data-popper-placement^="top"> -->
												<!--
													const popperInstance = Popper.createPopper(tooltipBtn, tooltip, {
														// placement: 'bottom', 으로 툴팁 위치 조작
														
														현재 디자인 케이스 : bottom, right, top
													}
												-->
												<div class="tooltip">
													<div class="tooltip-inner">
														<span class="txt-wrap">
															설명 문구 입니다.
														</span>
														<button type="button" class="tooltip-close"><span>툴팁닫기</span></button>
													</div>
													<div data-popper-arrow=""></div>
												</div>
											</span>
										</span>
										<span class="txt-desc">
											<span class="current">0GB</span>
											<span class="total">/ 50GB</span>
										</span>
									</div>
									<div class="row">
										<span class="txt-title">
											자회선 월 기본제공 데이터
											<button class="img-box btn-tooltip">
												<img src="../../static/images/icon/ic-circle-quesition.svg" alt="">
											</button>
											<span class="tooltip-wrap">
												<!-- 브라우저 띄울 때 다음과 같이 출력됨 <span class="tooltip-wrap" role="tooltip" data-show data-popper-placement^="top"> -->
												<!--
													const popperInstance = Popper.createPopper(tooltipBtn, tooltip, {
														// placement: 'bottom', 으로 툴팁 위치 조작
														
														현재 디자인 케이스 : bottom, right, top
													}
												-->
												<div class="tooltip">
													<div class="tooltip-inner">
														<span class="txt-wrap">
															설명 문구 입니다.
														</span>
														<button type="button" class="tooltip-close"><span>툴팁닫기</span></button>
													</div>
													<div data-popper-arrow=""></div>
												</div>
											</span>
										</span>
										<span class="txt-desc">
											<span class="current">250MB</span>
											<span class="total">/ 500MB</span>
										</span>
									</div>
								</div>
								<button class="btn-toggle accordion-header"><!-- 아코디언 버튼 -->
									<span class="txt"><!-- open 클래스 추가 시 [자세히보기 >> 간단히 보기] -->
										<!-- 자세히 보기 -->
										간단히 보기
									</span>
									<span class="img-box ico-toggle">
										<img src="../../static/images/icon/ic-chips-arrow-gray.svg">
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 아코디언 1개 -->
				<div class="cont__wrap">
					<div class="info-price-wrap">
						<!-- open 클래스로 show/hide 조정 -->
						<div class="list-info-price accordion-container open"><!-- 닫힘 -->
							<!-- 열림 <div class="list-info-price accordion-container open"> -->
							<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
								<span class="row txt-title">
									<div class="badge badge-round">
										<span class="txt">A</span>
									</div>
									<span>휴대폰 이용요금</span>
								</span>
								<span class="row txt-price">
									<span>60,000원</span>
									<span class="img-box ico-toggle">
										<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
									</span>
								</span>
							</button>
							<div class="accordion-content"><!-- 아코디언 컨텐트 -->
								<ul class="info-price-detail">
									<li class="info-wrap">
										<!-- default -->
										<span class="row">
											<span class="txt-title ico">
												월정액
											</span>
											<span class="txt-price">105,000원</span>
										</span>
									</li>
									<li class="info-wrap">
										<span class="row">
											<span class="txt-title ico">
												할인요금
											</span>
											<span class="txt-price">-45,000원</span>
										</span>
										<ul class="col list-detail">
											<li class="row">
												<span class="txt-title">
													태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
												</span>
												<span class="txt-price">-22,000원</span>
											</li>
											<li class="row">
												<span class="txt-title">선택약정 25% 할인</span>
												<span class="txt-price">-18,000원</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- 아코디언 2개이상 -->
				<div class="cont__wrap">
					<div class="info-price-wrap">
						<!-- open 클래스로 show/hide 조정 -->
						<div class="list-info-price accordion-container open"><!-- 닫힘 -->
							<!-- 열림 <div class="list-info-price accordion-container open"> -->
							<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
								<span class="row txt-title">
									<div class="badge badge-round">
										<span class="txt">A</span>
									</div>
									<span>휴대폰 이용요금</span>
								</span>
								<span class="row txt-price">
									<span>60,000원</span>
									<span class="img-box ico-toggle">
										<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
									</span>
								</span>
							</button>
							<div class="accordion-content"><!-- 아코디언 컨텐트 -->
								<ul class="info-price-detail">
									<li class="info-wrap">
										<!-- default -->
										<span class="row">
											<span class="txt-title ico">
												월정액
											</span>
											<span class="txt-price">105,000원</span>
										</span>
									</li>
									<li class="info-wrap">
										<span class="row">
											<span class="txt-title ico">
												할인요금
											</span>
											<span class="txt-price">-45,000원</span>
										</span>
										<ul class="col list-detail">
											<li class="row">
												<span class="txt-title">
													태블릿/스마트기기
												</span>
												<span class="txt-price">-22,000원</span>
											</li>
											<li class="row">
												<span class="txt-title">선택약정 25% 할인</span>
												<span class="txt-price">-18,000원</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

						<div class="list-info-price accordion-container open"><!-- 닫힘 -->
							<!-- 열림 <div class="list-info-price accordion-container open"> -->
							<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
								<span class="row txt-title">
									<div class="badge badge-round">
										<span class="txt">A</span>
									</div>
									<span>휴대폰 이용요금</span>
								</span>
								<span class="row txt-price">
									<span>60,000원</span>
									<span class="img-box ico-toggle">
										<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
									</span>
								</span>
							</button>
							<div class="accordion-content"><!-- 아코디언 컨텐트 -->
								<ul class="info-price-detail">
									<li class="info-wrap">
										<!-- default -->
										<span class="row">
											<span class="txt-title ico">
												월정액
											</span>
											<span class="txt-price">105,000원</span>
										</span>
									</li>
									<li class="info-wrap">
										<span class="row">
											<span class="txt-title ico">
												할인요금
											</span>
											<span class="txt-price">-45,000원</span>
										</span>
										<ul class="col list-detail">
											<li class="row">
												<span class="txt-title">
													태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
												</span>
												<span class="txt-price">-22,000원</span>
											</li>
											<li class="row">
												<span class="txt-title">선택약정 25% 할인</span>
												<span class="txt-price">-18,000원</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- 아코디언2개이상 + 총청구요금  : list-payment  > info-price-wrap 형태 -->
				<div class="cont__wrap">
					<div class="list-payment">
						<div class="info-price-wrap">
							<!-- open 클래스로 show/hide 조정 -->
							<div class="list-info-price accordion-container open"><!-- 열림 -->
								<!-- 닫힘 <div class="list-info-price accordion-container open"> -->
								<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
									<span class="row txt-title">
										<div class="badge badge-round">
											<span class="txt">A</span>
										</div>
										<span>휴대폰 이용요금</span>
									</span>
									<span class="row txt-price">
										<span>60,000원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span>
									</span>
								</button>
								<div class="accordion-content"><!-- 아코디언 컨텐트 -->
									<ul class="info-price-detail">
										<li class="info-wrap">
											<!-- default -->
											<span class="row">
												<span class="txt-title ico">
													월정액
												</span>
												<span class="txt-price">105,000원</span>
											</span>
										</li>
										<li class="info-wrap">
											<span class="row">
												<span class="txt-title ico">
													할인요금
												</span>
												<span class="txt-price">-45,000원</span>
											</span>
											<ul class="col list-detail">
												<li class="row">
													<span class="txt-title">
														태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
													</span>
													<span class="txt-price">-22,000원</span>
												</li>
												<li class="row">
													<span class="txt-title">선택약정 25% 할인</span>
													<span class="txt-price">-18,000원</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="list-info-price accordion-container open"><!-- 열림 -->
							<!-- 닫힘 <div class="list-info-price accordion-container open"> -->
								<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
									<span class="row txt-title">
										<span class="badge badge-round">
											<span class="txt">B</span>
										</span>
										<span>부가서비스 및 구독 혜택 사용요금</span>
									</span>
									<span class="row txt-price">
										<span>10,000원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span>
									</span>
								</button>
								<div class="accordion-content"><!-- 아코디언 컨텐트 -->
									<ul class="info-price-detail">
										<li class="info-wrap">
											<!-- default -->
											<span class="row">
												<span class="txt-title ico">
													바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)<br />
													바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)
												</span>
												<span class="txt-price">5,000원</span>
											</span>
										</li>
										<li class="info-wrap">
											<span class="row">
												<span class="txt-title ico">
													맘대로 폰교체 / 맘대로 폰교체 플러스
												</span>
												<span class="txt-price">5,000원</span>
											</span>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="list-info-price accordion-container open"><!-- 닫힘 -->
							<!-- 열림 <div class="list-info-price accordion-container open"> -->
								<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
									<span class="row txt-title">
										<span class="badge badge-round">
											<span class="txt">C</span>
										</span>
										<span>기기 이용요금</span>
									</span>
									<span class="row txt-price">
										<span>999,999원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span>
									</span>
								</button>
								<div class="accordion-content"><!-- 아코디언 컨텐트 -->
									<ul class="info-price-detail">
										<li class="info-wrap">
											<!-- default -->
											<span class="row">
												<span class="txt-title ico">
													항목1111
												</span>
												<span class="txt-price">2,450,000원</span>
											</span>
										</li>
										<li class="info-wrap">
											<span class="row">
												<span class="txt-title ico">
													항목1-1111
												</span>
												<span class="txt-price">-999,000원</span>
											</span>
											<ul class="col list-detail">
												<li class="row">
													<span class="txt-title">항목1-1.상세내용상세내용상세내용상세내용상세내용상세내용</span>
													<span class="txt-price">-9,990원</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class="list-info-price accordion-container"> <!-- 상세내역 없는 경우 : open 추가x -->
								<button class="info-price accordion-header">
									<span class="row txt-title">
										<span class="badge badge-round">
											<span class="txt">D</span>
										</span>
										<span>케이스4</span>
									</span>
									<span class="row txt-price">
										<span>500원</span>
										<span class="img-box ico-toggle"></span><!-- 상세내역 없는 경우 : img display:none 적용img-box ico-toggle 남기기 -->
									</span>
								</button>
							</div>
						</div>
						<div class="info-price-wrap">
							<div class="info-price total-last">
								<span class="row">
									<span class="txt-title">
										<div class="badge badge-round"><span class="txt">A+B+C+D</span></div>총 청구요금
									</span>
									<span class="txt-price">
										1,070,499원
									</span>
								</span>
								<!-- <span class="txt-sub">(부가가치세 포함)</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- popper tooltip js -->
</body>
</html>