<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- header -->
	<header class="header"></header>
	<!-- //header -->

	<!-- container -->
	<div class="container" style="padding: 0;">
		<div style="display: flex; flex-direction: column; width: 100%; padding: 16px; background-color: #eeeeee; gap: 8px;">
			<!-- card : 기본 -->
			<strong>card</strong>
			<p>card::menu</p>
			<div class="card" role="button" tabindex="0">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-menu/ic-billingCharge.svg" alt="청구요금">
						</span>
						<div class="flag flag-recent">
							<span class="txt">최근사용</span>
						</div>
					</div>
					<div class="item text">
						<span class="tit">청구요금<span class="icon"></span></span>
						<span class="txt">이번 달과 지난달<br>요금 조회</span>
					</div>
				</div>
			</div>

			<p>card::menu - is-selected</p>
			<div class="card is-selected" role="button" tabindex="0">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-menu/ic-billingCharge.svg" alt="청구요금">
						</span>
						<div class="flag flag-recent">
							<span class="txt">최근사용</span>
						</div>
					</div>
					<div class="item text">
						<span class="tit">청구요금<span class="icon"></span></span>
						<span class="txt">이번 달과 지난달<br>요금 조회</span>
					</div>
				</div>
			</div>

			<p>card::menu - is-disabled</p>
			<div class="card is-disabled" role="button" tabindex="0">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-menu/ic-billingCharge.svg" alt="청구요금">
						</span>
						<div class="flag flag-recent">
							<span class="txt">최근사용</span>
						</div>
					</div>
					<div class="item text">
						<span class="tit">청구요금<span class="icon"></span></span>
						<span class="txt">이번 달과 지난달<br>요금 조회</span>
					</div>
				</div>
			</div>

			<p>card::solid (배경색/그림자없음)</p>
			<!-- card : solid -->
			<div class="card solid" role="button" tabindex="0">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-menu/ic-billingCharge.svg" alt="청구요금">
						</span>
					</div>
					<div class="item text">
						<span class="tit">나의 요금제</span>
						<span class="txt">요금제 확인·변경</span>
					</div>
				</div>
			</div>

			<p>card::detail</p>
			<!-- card : detail -->
			<div class="card detail">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-menu/ic-billingCharge.svg" alt="청구요금">
						</span>
					</div>
					<div class="item text">
						<span class="tit">나의 요금제</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group">
						<button class="btn btn-md btn-sec" type="button">
							<span class="txt">버튼명</span>
						</button>
					</div>
				</div> 
			</div>

			<p>card::detail (챗봇/AI/전화상담)]</p>
			<!-- card : shadow -->
			<div class="card detail" role="button" tabindex="0">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-card-calls.svg" alt="나의요금제">
						</span>
					</div>
					<div class="item text">
						<span class="tit">나의 요금제</span>
						<span class="txt">설명문구</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="chips chips-tag">
						<span class="txt">모바일</span>
					</div>
				</div> 
			</div>

			<strong style="margin-top: 16px;">card::가로형</strong>
			<p>card::horizon</p>
			<div class="card horizon">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-card-arsEye.svg" alt="타이틀">
						</span>
					</div>
					<div class="item text">
						<span class="tit">타이틀</span>
						<span class="txt">설명문구를 입력해주세요</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group">
						<button class="btn btn-md btn-prim" type="button">
							<span class="txt">버튼명</span>
						</button>
					</div>
				</div> 
			</div>

			<p>card::horizon solid</p>
			<div class="card horizon solid" role="button" tabindex="0">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-card-arsEye.svg" alt="타이틀">
						</span>
					</div>
					<div class="item text">
						<span class="tit">타이틀</span>
						<span class="txt">대기 N시간 이상</span>
					</div>
				</div>
			</div>

			<p>card::horizon chatbot</p>
			<div class="card horizon chatbot">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-home-holeman.svg" alt="챗봇 상담 문의">
						</span>
					</div>
					<div class="item text">
						<span class="tit">챗봇 상담 문의</span>
						<span class="txt">24시간 대기없이 바로 문의</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group">
						<button class="btn btn-md btn-prim" type="button">
							<span class="txt">이동</span>
						</button>
					</div>
				</div> 
			</div>

			<p>card::horizon home</p>
			<div class="card horizon home">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-home-iptv.svg" alt="홈 고객센터 문의">
						</span>
					</div>
					<div class="item text">
						<span class="tit">홈 고객센터 문의</span>
						<span class="txt">IPTVㆍ인터넷ㆍ스마트홈</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group">
						<button class="btn btn-md btn-prim" type="button">
							<span class="txt">이동</span>
						</button>
					</div>
				</div> 
			</div>

			<p>card::bank</p>
			<div class="card solid bank">
				<div class="card-header">
					<div class="item util">
						<span class="ico-bank">은행로고아이콘</span>
					</div>
					<div class="item text">
						<span class="tit">은행 계좌번호</span>
						<span class="txt">이름</span>
					</div>
					<button type="button" class="btn end">종료</button>
				</div>
				<div class="card-footer">
					<div class="btn-group flex-row">
						<button class="btn btn-md" type="button">
							<span class="txt">버튼명</span>
						</button>
						<button class="btn btn-md" type="button">
							<span class="txt">버튼명</span>
						</button>
					</div>
				</div> 
			</div>

			<p>card::선제안 팝업</p>
			<div class="card horizon banner">
				<div class="card-body">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-banner/ic-counselor.svg" alt="가입 매장 상담사 연결">
						</span>
					</div>
					<div class="item text">
						<span class="tit">가입 매장 상담사 연결</span>
						<span class="txt">가입 매장 상담사와<br>통화를 원하시면 선택해 주세요!</span>
					</div>
					<button type="button" class="btn end">종료</button>
				</div>
			</div>

			<p>card::bill</p>
			<div class="card solid bill">
				<div class="card-body">
					<div class="item util">
						<span class="tit">타이틀</span>
						<div class="flag flag-line primary">
							<span class="txt">텍스트</span>
						</div>
						<span class="pay-txt">0원</span> 
					</div>
					<div class="item text">
						<span class="txt">설명문구</span>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn-between bg-withdraw">
						<span class="txt-wrap">
							<span class="img-box">
								<img src="../../static/images/icon/ic-btn-dcmnt.svg" alt="">
							</span>
							<span class="txt">
								<span>00</span>월 청구서
							</span>
						</span>
						<span class="img-box ico20">
							<img src="../../static/images/icon/ic-btn-arrow-right-sm.png">
						</span>
					</button>
				</div> 
			</div>

			<!-- 서비스마다 style 다를 경우 조정 필요 -->
			<p>card::inform</p>
			<div class="card solid center rmhistoryNone">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-roaming_x.svg" alt="로밍내역 없음">
					</span>
					<div class="text-box">
						<span class="txt">사용하신 로밍 내역이 없어요</span>
					</div>
				</div>
			</div>
			
			<div class="card solid center mentOff">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-announcement_off.svg" alt="안내멘트 off">
					</span>
					<div class="text-box">
						<span class="txt">해외 체류 중에 로밍 안내 멘트를 사용하지 않고<br>국내 통화연결음을 제공합니다.</span>
					</div>
				</div>
			</div>

			<div class="card solid center mentOn">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-announcement_on.svg" alt="안내멘트 on">
					</span>
					<div class="text-box">
						<span class="txt">"해외 로밍 중인 고객에게 국제전화 요금이<br>부과되며 현지 시간은 00시 00분입니다."</span>
					</div>
				</div>
			</div>

			<div class="card solid center">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-card.svg" alt="신용카드 자동이체 신청 가능">
					</span>
					<div class="text-box">
						<span class="txt">은행/신용카드 자동이체를<br>신청할 수 있어요</span>
					</div>
				</div>
			</div>

			<div class="card solid center">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-sale.svg" alt="선택약정 할인 이용 안내">
					</span>
					<div class="text-box">
						<span class="txt">선택약정 할인을 이용하시면<br><span class="color-prim">25%요금할인을</span> 받을 수 있어요</span>
					</div>
				</div>
			</div>

			<div class="card solid center">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-bill_x.svg" alt="결제 이용 내역 없음">
					</span>
					<div class="text-box">
						<span class="txt">결제 이용 내역이 없어요</span>
					</div>
				</div>
			</div>

			<div class="card solid center roamingNone">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-roaming.svg" alt="가입 정보 없음">
					</span>
					<div class="text-box">
						<span class="tit">해외로 떠나시나요?<br>다양한 로밍 요금제를 살펴보세요</span>
					</div>
				</div>
			</div>

			<div class="card solid center">
				<div class="card-body">
					<span class="img-box">
						<img src="../../static/images/icon/ic-card-address_x.svg" alt="검색결과 없음">
					</span>
					<div class="text-box">
						<span class="tit">검색결과가 없어요</span>
						<span class="txt">도로명 주소로 다시 검색해 주세요</span>
					</div>
				</div>
			</div>

			<p>card::explain</p>
			<div class="card solid explain">
				<div class="card-header">
					<div class="flag flag-line primary">
						<span class="txt">무료</span>
					</div>
				</div>
				<div class="card-body">
					<div class="item text">
						<span class="tit">타이틀</span>
						<span class="txt">설명 문구 입니다. 설명 문구 입니다. 설명 문구 입니다. 설명 문구 입니다. 설명 문구 입니다.</span>
					</div>
				</div>
			</div>

			<p>card::alert</p>
			<div class="card solid alert">
				<div class="card-header">
					<div class="item util">
						<span class="img-box">
							<img src="../../static/images/icon/ic-card-message.svg" alt="도착알림문자">
						</span>
					</div>
					<div class="item text">
						<span class="tit">도착 알림 문자</span>
					</div>
				</div>
				<div class="card-body">
					<div class="card message">
						<div class="card-header">
							<span class="tit">Call ui</span>
							<span class="time">오후 2:56</span>
						</div>
						<div class="card-body">
							<div class="item text">
								<span class="tel">02-3416-7010</span>
								<span class="msg">[Call ui](휴대폰번호) 고객님이(한국기준날짜,시간,도착국가)에 도착하였습니다.</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<p>card::회선 변경 카드</p>
			<div class="card horizon chngCode">
				<div class="card-body">
					<div class="item text">
						<span class="txt">모바일</span>
						<span class="tit">010-1234-5678</span>
						<span class="sub">외 1건</span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group">
						<button class="btn btn-md" type="button">
							<span class="txt">변경</span>
						</button>
					</div>
				</div> 
			</div>
			
			<p>card::이용내역</p>
			<div class="card solid payUsed">
				<div class="used-date">
					24년 N월 N일 NN:NN
				</div>
				<div class="card-body">
					<div class="used-info">
						<span class="used-name">결제 항목명</span>
						<span class="used-won">30,000원</span>
					</div>
					<span class="paid-status">
						정상승인
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>