<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
	<style>
		ul {
			margin: 30px 0;
		} 
		ul > li {
			margin: 20px 0;
		}
	</style>
</head>
<body>
	<div class="page-wrapper">
		<!-- header -->
		<header class="header"></header>
		<!-- //header -->
	
		<!-- container -->
		<div class="container">                                                                                                                                                                                                                                                                                                                                                                                                                                  
			<ul>
				<li>
					<h3>normal</h3>
				</li>
					<!-- 
						@@@@ 퍼블 공지 : 개발 후 주석 삭제 요청 @@@@

						##label클릭시 활성화를 위해 체크박스 id값 동일하게 맞춤
						<input type="checkbox" id="chck01" class="chck-input">
						<label for="chck01" class="chck01-label">
						##개발시 아이디값 필요하면 새 아이디 추가 후 개발 요함
					-->
				<li>
					<div class="chck-group">
						<input type="checkbox" id="chck01" class="chck-input">
						<label for="chck01" class="chck-label">
							<span class="chck-box"></span>
							라벨명1
						</label>
					</div>
				</li>
				<li>
					<h3>pressed disabled</h3>
				</li>
				<li>
					<div class="chck-group is-disabled">
						<input type="checkbox" id="chck02" class="chck-input" checked>
						<label for="chck02" class="chck-label">
							<span class="chck-box"></span>
							체크드된 disabled
						</label>
					</div>
				<li>
					<h3>pressed</h3>
				</li>
				<li>
					<div class="chck-group">
						<input type="checkbox" id="chck03" class="chck-input" checked>
						<label for="chck03" class="chck-label">
							<span class="chck-box"></span>
							체크드됨
						</label>
					</div>
				<li>
				<li>
					<h3>disabled</h3>
				</li>
				<li>
					<div class="chck-group is-disabled">
						<input type="checkbox" id="chck04" class="chck-input">
						<label for="chck04" class="chck-label">
							<span class="chck-box"></span>
							기본 disabled
						</label>
					</div>
				</li>
			</ul>
			<ul>
				<li>
					<h3>normal</h3>
				</li>
					<!-- 
						@@@@ 퍼블 공지 : 개발 후 주석 삭제 요청 @@@@

						##label클릭시 활성화를 위해 체크박스 id값 동일하게 맞춤
						<label for="switch01" class="switch-label">
						<input type="checkbox" id="switch01" class="switch-input">
						##개발시 아이디값 필요하면 새 아이디 추가 후 개발 요함
					-->
				<li>
					<div class="chck-group">
						<input type="checkbox" id="chck05" class="chck-input">
						<label for="chck05" class="chck-label">
							<span class="chck-box"></span>
						</label>
					</div>
				</li>

				<li>
					<h3>pressed disabled</h3>
				</li>
				<li>
					<div class="chck-group is-disabled">
						<input type="checkbox" id="chck06" class="chck-input" checked>
						<label for="chck06" class="chck-label">
							<span class="chck-box"></span>
						</label>
					</div>
				</li>
				<li>
					<h3>pressed</h3>
				</li>
				<li>
					<div class="chck-group">
						<input type="checkbox" id="chck07" class="chck-input" checked>
						<label for="chck07" class="chck-label">
							<span class="chck-box"></span>
						</label>
					</div>
				</li>
				<li>
					<h3>disabled</h3>
				</li>
				<li>
					<div class="chck-group is-disabled">
						<input type="checkbox" id="chck06" class="chck-input">
						<label for="chck06" class="chck-label">
							<span class="chck-box"></span>
						</label>
					</div>
				</li>
			</ul>

		</div>
		<!-- //container -->
	
		<!-- footer -->
		<footer class="footer"></footer>
		<!-- //footer -->
	</div>
</body>
</html>