<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container" style="display: block;">
		<!-- chips : date 날짜 -->
		<!-- date : 기본 -->
		<button type="button" class="chips chips-date">
			<span class="txt">24년 03월</span>
			<span class="arrow"></span>
		</button>
		<!-- date : disabled -->
		<button type="button" class="chips chips-date is-disabled">
			<span class="txt">24년 03월</span>
			<span class="arrow"></span>
		</button>


		<!-- chips: select 펼침/접힘 -->
		<!-- 펼침/접힘 : 기본 -->
		<button type="button" class="chips chips-all">
			<span class="txt">전체펼침</span>
			<span class="arrow"></span>
		</button>
		<!-- 펼침/접힘 : active -->
		<button type="button" class="chips chips-all is-selected">
			<span class="txt">전체펼침</span>
			<span class="arrow"></span>
		</button>
		<!-- 펼침/접힘 : disabled -->
		<button type="button" class="chips chips-all is-disabled" readonly>
			<span class="txt">전체펼침</span>
			<span class="arrow"></span> 
		</button>


		<!-- chips : 홈/텍스트 칩 -->
		<div class="chips-group">
			<button type="button" class="chips chips-menu is-selected">
				<span class="img-box icon"><img src="../../static/images/icon/ic-chips-flag.svg" alt="많이 찾는 문의"></span>
				<span class="txt">많이 찾는 문의</span>
			</button>

			<button type="button" class="chips chips-menu">
				<!-- <span class="icon"></span> -->
				<span class="txt">요금 및 납부</span>
			</button>

			<button type="button" class="chips chips-menu">
				<!-- <span class="icon"></span> -->
				<span class="txt">가입정보</span>
			</button>

			<button type="button" class="chips chips-menu">
				<!-- <span class="icon"></span> -->
				<span class="txt">사용현황</span>
			</button>

			<button type="button" class="chips chips-menu">
				<!-- <span class="icon"></span> -->
				<span class="txt">휴대폰 결제</span>
			</button>

			<button type="button" class="chips chips-menu">
				<!-- <span class="icon"></span> -->
				<span class="txt">해외로밍</span>
			</button>

			<button type="button" class="chips chips-menu">
				<!-- <span class="icon"></span> -->
				<span class="txt">해외로밍 부가서비스</span>
			</button>

			<button type="button" class="chips chips-menu chips-more">
				<span class="arrow"></span>
			</button>

			<button type="button" class="chips chips-menu chips-more is-selected">
				<span class="arrow"></span>
			</button>
		</div>

		<!-- chips : 새로고침  -->
		<button type="button" class="chips chips-refresh">
			<span class="time">00:00</span>
			<span class="line"></span>
			<span class="text-box">
				<span class="txt">새로고침</span>
				<span class="icon"></span>
			</span>
		</button>


		<!-- chips : other (tag) -->
		<div class="chips chips-tag">
			<span class="txt">이용불가</span>
		</div>

		<div class="chips chips-tag primary">
			<span class="txt">이용가능</span>
		</div>

		<div class="chips chips-tag tag-lg primary">
			<span class="txt">전액</span>
		</div>

		<button type="button" class="chips chips-tag tag-lg">
			<span class="txt">빠른 문제해결</span>
		</button>

		<button type="button" class="chips chips-tag tag-lg primary-bg">
			<span class="txt">충분한 정보 제공</span>
		</button>

		<div class="chips chips-tag tag-sm">
			<span class="txt">모바일</span>
		</div>


		<!-- flag -->
		<div class="flag flag-line primary">
			<span class="txt">이용예정</span>
		</div>

		<div class="flag primary">
			<span class="txt">이용중</span>
		</div>
		<div class="flag dangu">
			<span class="txt">이용중</span>
		</div>
		<div class="flag flag-line dangu">
			<span class="txt">이용중</span>
		</div>

		<div class="flag">
			<span class="txt">이용완료</span>
		</div>

		<div class="flag success">
			<span class="txt">납부완료</span>
		</div>

		<div class="flag error">
			<span class="txt">납부실패</span>
		</div>

		<div class="flag flag-recent">
			<span class="txt">최근사용</span>
		</div>

		<div class="flag flag-etc">
			<span class="txt">텍스트</span>
		</div>


		<!-- badge -->
		<div class="badge badge-round">
			<span class="txt">A</span>
		</div>

		<div class="badge badge-round">
			<span class="txt">A+B+C</span>
		</div>

		<div class="badge badge-tip">
			<span class="txt">TIPS</span>
		</div>

		<div class="badge badge-time">
			<span class="icon"></span>
			<span class="txt">02:56</span>
		</div>
		
		<div class="badge badge-time error">
			<span class="icon"></span>
			<span class="txt">03:00</span>
		</div>
		<br />
		<br />
		
		<!-- chips : 은행명 박스 -->
		<!-- icon img tag ver
		<div class="chips-group">
			<button type="button" class="chips chips-bank">
				<span class="img-box icon"><img src="../../static/images/icon/ic-bank/ic-20-shinhan.svg" alt="신한은행"></span>
				<span class="txt">신한은행</span>
			</button>

			<button type="button" class="chips chips-bank is-selected">
				<span class="img-box icon"><img src="../../static/images/icon/ic-bank/ic-20-shinhan.svg" alt="신한은행"></span>
				<span class="txt">신한은행</span>
			</button>

			<button type="button" class="chips chips-bank">
				<span class="img-box icon"><img src="../../static/images/icon/ic-bank/ic-20-shinhan.svg" alt="신한은행"></span>
				<span class="txt">일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이</span>
			</button>
		</div>-->

		<!-- icon bg ver -->
		<div style="margin:20px 0 10px;font-weight:600;">json 목록에 없지만 빈번히 사용되는 카드</div>
		<div class="chips-group">
			<button type="button" class="chips chips-bank">
				<span class="ico-bank amex">
					로고아이콘
				</span>
				<span class="txt">아메리칸익스프레스카드</span>
			</button>
			<button type="button" class="chips chips-bank">
				<span class="ico-bank bc">
					로고아이콘
				</span>
				<span class="txt">비씨카드</span>
			</button>
			<button type="button" class="chips chips-bank">
				<span class="ico-bank hyundaicard">
					로고아이콘
				</span>
				<span class="txt">현대카드</span>
			</button>
			<button type="button" class="chips chips-bank">
				<span class="ico-bank samsungcard">
					로고아이콘
				</span>
				<span class="txt">삼성카드</span>
			</button>
			<button type="button" class="chips chips-bank">
				<span class="ico-bank lotte">
					로고아이콘
				</span>
				<span class="txt">롯데카드</span>
			</button>
		</div>
		<div style="margin:20px 0 10px;font-weight:600;">[default_bgNon_16px + 은행명 박스]</div>
		<div class="chips-group">
			<button type="button" class="chips chips-bank">
				<span class="ico-bank shinhan">
					로고아이콘
				</span>
				<span class="txt">신한은행</span>
			</button>
			<div style="width:100%;margin:20px 0 10px;font-weight:600;">[is-selected_bgNon_16px + 은행명 박스]</div>
			<button type="button" class="chips chips-bank is-selected">
				<span class="ico-bank shinhan">
					로고아이콘
				</span>
				<span class="txt">신한은행</span>
			</button>
			<div style="width:100%;margin:20px 0 10px;font-weight:600;">[텍스트 길 때_bgNon_16px + 은행명 박스]</div>
			<button type="button" class="chips chips-bank">
				<span class="ico-bank shinhan">
					로고아이콘
				</span>
				<span class="txt">일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이</span>
			</button>
		</div>

		<!-- chips-bank-col : 은행명 원형버튼 -->
		<div style="margin:30px 0 10px;font-weight:600;">[default_bgGray_48px_아이콘 있는 경우]</div>
		<button type="button" class="chips-bank-col">
			<span class="ico-bank kb">
				로고아이콘
			</span>
			<span class="txt">은행명</span>
		</button>
		<div style="margin:20px 0 10px;font-weight:600;">[Non_bgGray_48px_아이콘 없는 경우]<br /></div>
		<span>은행명 한줄 최대7글자(한영포함_영1byte_한2byte) 출력 후 break-all 적용<br />(띄워쓰기 없음_vertical Center)<br /></span>
		<button type="button" class="chips-bank-col">
			<span class="ico-bank">
				로고아이콘
			</span>
			<span class="txt">최대7일곱글자</span>
		</button>
		<br />
		
		<button type="button" class="chips-bank-col">
			<span class="ico-bank">
				로고아이콘
			</span>
			<span class="txt">최대5글자<br />(구_외환)</span>
		</button>
		<!-- chips : 은행명 원형버튼 -->
		<div style="margin:20px 0 10px;font-weight:600;">[bgGray_48px_chips-bank-wrap 리스트 3개 미만일 경우: 가운데정렬]</div>
		<ul class="chips-bank-wrap" style="width:100%;margin:20px 0;">
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
		</ul>
		<div style="margin:20px 0 10px;font-weight:600;">[bgGray_48px_chips-bank-wrap 리스트 3개 이상일 경우]</div>
		<ul class="chips-bank-wrap" style="width:100%;margin:20px 0;">
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
			<li class="list-chipsbank">
				<button type="button" class="chips-bank-col">
					<span class="ico-bank kb">
						로고아이콘
					</span>
					<span class="txt">은행명</span>
				</button>
			</li>
		</ul>
	</div>
	<!-- //container -->

	<!-- footer --> 
	<footer class="footer"></footer>
	<!-- //footer -->
</div>

</body>

</html>
