<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
</head>

<style>
	.container {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 16px;
	}
</style>

<body>
	<div class="page-wrapper">
		<!-- container -->
		<div class="container">
			<p style="font-size: 20px; font-weight: bold;">inform element</p>
			<div class="inform-wrap">
				<!-- error/success/check -->
				<span class="inform-img warning"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img success"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img check"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img chatbot"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img csCenter"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img call"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img chat"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div> 

			<div class="inform-wrap">
				<span class="inform-img ai"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img confirm"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
			</div>

			<div class="inform-wrap">
				<span class="inform-img ai"></span>
				<div class="text-box">
					<span class="tit">안내문구 안내문구<br><span class="color-prim">강조문구</span>안내문구</span>
					<span class="txt">서브 텍스트 입니다</span>
				</div>
				<div class="btn-group">
					<button class="btn btn-md" type="button">
						<span class="txt">상담사 연결</span>
						<span class="img-box ico16">
							<img src="../../static/images/icon/ic-btn-audio.svg">
						</span>
					</button>
				</div>
			</div>
		</div>
		<!-- //container -->
	
		<!-- footer -->
		<footer class="footer"></footer>
		<!-- //footer -->
	</div>
</body>
</html>