<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>인풋</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
</head>

<body>
	<div class="page-wrapper">
	
		<!-- container -->
		<div class="container ">

			<div class="section__cont">
				<div class="cont__wrap cont__wrap-service">



					<!-- <div class="input-group">
						<input class="custom-input" type="tel" placeholder="플레이스홀더" autocomplete="off" id="input01">
						<label for="input01">라벨명을 따릅니다.</label>
					</div> -->

					@@@@@ 퍼블 공지 @@@@<br/><br/>
						[[ 상태 class ]] : input-control에 클래스를 추가하여 모든 상태를 제어합니다.<br/><br/>
							** 포커스 : focused <br/>							
							** 유효성 검사 성공 : success<br/>							
							** 유효성 검사 에러 : error<br/>							
							** 읽기 전용 : disabled<br/>
							** 비활성 : disabled<br/>

					<br/><br/><br/><br/>
					
					<h2>[기본 상태]</h2>
					<div class="input-control">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" autocomplete="off">
								<div class="util-box">									
									<button type="button" class="clear-btn hidden"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[포커스 상태]</h2>
					<!--  -->
					<div class="input-control focused">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" autocomplete="off">
								<div class="util-box">									
									<button type="button" class="clear-btn hidden"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[입력중 상태]</h2>
					<!--  -->
					<div class="input-control focused">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" value="내용입력중" autocomplete="off">
								<div class="util-box">									
									<button type="button" class="clear-btn"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[포커스 아웃 상태]</h2>
					<!--  -->
					<div class="input-control">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" value="내용입력중" autocomplete="off">
								<div class="util-box">									
									<button type="button" class="clear-btn hidden"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>
					
					<br/><br/><br/><br/><h2>[비활성 상태]</h2>
					<!--  -->
					<div class="input-control disabled">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" autocomplete="off" disabled>
								<div class="util-box">									
									<button type="button" class="clear-btn hidden"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[읽기전용 상태]</h2>
					<!--  -->
					<div class="input-control read-only">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" autocomplete="off" value="입력값" readonly>
								<div class="util-box">									
									<button type="button" class="clear-btn hidden"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>



					<br/><br/><br/><br/><h2>[성공 상태]</h2>
					<!--  -->
					<div class="input-control success">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" autocomplete="off">
								<div class="util-box">									
									<button type="button" class="clear-btn"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>
					
					<br/><br/><br/><br/><h2>[에러 상태]</h2>
					<div class="input-control error">
						<div class="input-group">
							<label class="input-label">레이블</label>
							<div class="input-row">
								<input type="text" class="input-field" placeholder="플레이스 홀더" autocomplete="off">
								<div class="util-box">									
									<button type="button" class="clear-btn"></button><!-- 1글자 이상 입력 시, [X]버튼 노출 : hidden 삭제 <button type="button" class="clear-btn"> -->
									<span class="input-unit hidden">값</span> 
									<span class="input-unit hidden"><span class="unit-point">1</span>/<span>1</span></span>
									<div class="btn-group hidden">
										<button class="btn btn-md" type="button"><span class="txt">검색</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[이메일 폼]</h2>
					<!-- input email -->
					<div class="input-control email-form">
						<div class="input-group">
							<label class="input-label">이메일</label>
							<div class="input-row">
								<input type="text" class="input-field" name="email" placeholder="이메일 주소 입력" autofocus>
								<div class="util-box">
									<button type="button" class="clear-btn hidden"></button>
								</div>
							</div>
							<div class="slct-box-wrap">
								<button type="button" class="slct-box">
									<span class="txt">이메일 선택</span>
									<span class="arrow"></span>								
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[이메일 폼 : 선택 완료]</h2>
					<!-- input email -->
					<div class="input-control email-form">
						<div class="input-group">
							<label class="input-label">이메일</label>
							<div class="input-row">
								<input type="text" class="input-field" name="email" placeholder="이메일 주소 입력" autofocus>
								<div class="util-box">
									<button type="button" class="clear-btn hidden"></button>
								</div>
							</div>
							<div class="slct-box-wrap">
								<!-- 이메일 선택 후 상태 : done 클래스 추가 및 이메엘 도메인 텍스트 변경
									: <button type="button" class="slct-box done">
										<span class="txt">@naver.com</span> -->
								<button type="button" class="slct-box done">
									<span class="txt">직접 입력</span>
									<span class="arrow"></span>								
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[이메일 폼 : 선택 완료]</h2>
					<!-- input email -->
					<div class="input-control email-form">
						<div class="input-group">
							<label class="input-label">이메일</label>
							<div class="input-row">
								<input type="text" class="input-field" name="email" placeholder="이메일 주소 입력" autofocus>
								<div class="util-box">
									<button type="button" class="clear-btn hidden"></button>
								</div>
							</div>
							<div class="slct-box-wrap">
								<!-- 이메일 선택 후 상태 : done 클래스 추가 및 이메일 도메인 텍스트 변경
									: <button type="button" class="slct-box done">
										<span class="txt">@naver.com</span> -->
								<button type="button" class="slct-box done">
									<span class="txt">@gmail.com</span>
									<span class="arrow"></span>								
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[이메일 폼 : disabled]</h2>
					<!-- input email -->
					<div class="input-control email-form disabled">
						<div class="input-group">
							<label class="input-label">이메일</label>
							<div class="input-row">
								<input type="text" class="input-field" name="email" placeholder="이메일 주소 입력" autofocus disabled>
								<div class="util-box">
									<button type="button" class="clear-btn hidden"></button>
								</div>
							</div>
							<div class="slct-box-wrap">
								<!-- 이메일 선택 후 상태 : done 클래스 추가 및 이메엘 도메인 텍스트 변경
									: <button type="button" class="slct-box done">
										<span class="txt">@naver.com</span> -->
								<button type="button" class="slct-box done" disabled>
									<span class="txt">직접 입력</span>
									<span class="arrow"></span>								
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/><h2>[이메일 폼 : error]</h2>
					<!-- input email -->
					<div class="input-control email-form error">
						<div class="input-group">
							<label class="input-label">이메일</label>
							<div class="input-row">
								<input type="text" class="input-field" name="email" placeholder="이메일 주소 입력" autofocus>
								<div class="util-box">
									<button type="button" class="clear-btn hidden"></button>
								</div>
							</div>
							<div class="slct-box-wrap">
								<!-- 이메일 선택 후 상태 : done 클래스 추가 및 이메엘 도메인 텍스트 변경
									: <button type="button" class="slct-box done">
										<span class="txt">@naver.com</span> -->
								<button type="button" class="slct-box done">
									<span class="txt">직접 입력</span>
									<span class="arrow"></span>								
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/>
					<h2>드롭다운 normal</h2>
					<div class="input-control">
						<div class="input-group">
							<label class="input-label">은행/증권사</label>
							<div class="input-row">
								<button type="button" class="btn-field-dropdown">
									<!-- 은행/증권사 선택 값 -->
									<!-- <span class="value">
										<span class="ico-bank shinhan"></span>
										<span class="txt">신한은행</span>
									</span> -->
									<!-- placeholder성 안내 문구 노출 상태 : 값 노출 상태에서는 hidden 추가 <span class="txt hidden">은행/증권사 선택</span> -->
									<span class="txt ">은행/증권사 선택</span>
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/>
					<h2>드롭다운 선택완료</h2>	
					<div class="input-control">
						<div class="input-group">
							<label class="input-label">은행/증권사</label>
							<div class="input-row">
								<button type="button" class="btn-field-dropdown">
									<!-- 은행/증권사 선택 값 -->
									<span class="value">
										<span class="ico-bank shinhan"></span>
										<span class="txt">신한은행</span>
									</span>
									<!-- placeholder성 안내 문구 노출 상태 : 값 노출 상태에서는 hidden 추가 <span class="txt hidden">은행/증권사 선택</span> -->
									<span class="txt hidden">은행/증권사 선택</span>
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/>
					<h2>드롭다운 focused</h2>
					<div class="input-control focused"><!-- 포커스 시 focused 클래스 추가 -->
						<div class="input-group">
							<label class="input-label">은행/증권사</label>
							<div class="input-row">
								<button type="button" class="btn-field-dropdown ">
									<!-- 은행/증권사 선택 값 -->
									<span class="value">
										<span class="ico-bank shinhan"></span>
										<span class="txt">신한은행</span>
									</span>
									<!-- placeholder성 안내 문구 노출 상태 : 값 노출 상태에서는 hidden 추가 <span class="txt hidden">은행/증권사 선택</span> -->
									<span class="txt hidden">은행/증권사 선택</span>
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>


					<br/><br/><br/><br/>
					<h2>드롭다운 비활성화</h2>	
					<div class="input-control disabled">
						<div class="input-group">
							<label class="input-label">은행/증권사</label>
							<div class="input-row">
								<button type="button" class="btn-field-dropdown">
									<!-- 은행/증권사 선택 값 -->
									<span class="value">
										<span class="ico-bank shinhan"></span>
										<span class="txt">신한은행</span>
									</span>
									<!-- placeholder성 안내 문구 노출 상태 : 값 노출 상태에서는 hidden 추가 <span class="txt hidden">은행/증권사 선택</span> -->
									<span class="txt hidden">은행/증권사 선택</span>
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>

					<br/><br/><br/><br/>
					<h2>드롭다운 에러상태</h2>
					<div class="input-control error"><!-- 에러 시 error 클래스 추가 -->
						<div class="input-group">
							<label class="input-label">은행/증권사</label>
							<div class="input-row">
								<button type="button" class="btn-field-dropdown ">
									<!-- 은행/증권사 선택 값 -->
									<span class="value">
										<span class="ico-bank shinhan"></span>
										<span class="txt">신한은행</span>
									</span>
									<!-- placeholder성 안내 문구 노출 상태 : 값 노출 상태에서는 hidden 추가 <span class="txt hidden">은행/증권사 선택</span> -->
									<span class="txt hidden">은행/증권사 선택</span>
								</button>
							</div>
						</div>
						<!-- 퍼블공지 : 있으면 문구 교체하기 / 없으면 주석 -->
						<div class="validation-txt">validation 메시지 필요시 노출</div>
					</div>


					<br/><br/><br/><br/>
					<!-- // 드롭다운 박스
					[[입력 값 클래스]]
					드롭다운 선택 후 입력 값 : slct-box에 done 클래스 추가 및 텍스트 변경  <button type="button" class="slct-box done">
					[[ 상태 class ]]
						** 포커스 : focused
						** 에러 : error
						** 비활성 : disabled
					- 멀티 제어 (드롭다운 여러개 동시 제어 필요 시) : slct-control에 클래스를 추가
						** 포커스 : <div class="slct-control focused">
						** 에러 : <div class="slct-control error">
						** 비활성 : <div class="slct-control disabled">
					- 싱글 제어 (드롭다운 각각 제어 필요 시) : slct-box(버튼)에 클래스를 추가
						** 포커스 : <button type="button" class="slct-box focused">
						** 에러 : <button type="button" class="slct-box error">
						** 비활성 : <button type="button" class="slct-box disabled">
					-->
							<!-- 드롭다운 선택 후 상태 : done 클래스 추가 및 텍스트 변경
								: <button type="button" class="slct-box done">
								<span class="txt"><span>24년</span><span>12월</span></span> -->
					<br/><br/><br/><br/><br/><br/><br/><br/>


					<h2>Dropdown_라인형 : [싱글]</h2><br/>
					<h2>싱글라벨</h2><br/>
					<div class="slct-control">
						<div class="slct-label-box">
							<span class="label-tit">신청 월</span><span class="label-desc">남은 가능 일수 180일</span>
						</div>
						<div class="slct-box-wrap">
							<button type="button" class="slct-box">
								<span class="txt"><span>월 선택</span></span>
								<span class="arrow"></span>
							</button>
						
							<button type="button" class="slct-box done">
								<!-- <span class="txt"><span>월 선택</span></span> -->
								<span class="txt"><span>24년</span><span>12월</span></span>
								<span class="arrow"></span>
							</button>
						</div>
					</div>
					
					<br/><br/>
					<h2>멀티라벨</h2><br/>
					<div class="dropdown-flex">
						<div class="slct-control">
							<div class="slct-label-box">
								<span class="label-tit">신청 월</span><span class="label-desc">남은 가능 일수 180일</span>
							</div>
							<div class="slct-box-wrap">
								<button type="button" class="slct-box done">
									<!-- <span class="txt"><span>월 선택</span></span> -->
									<span class="txt"><span>24년</span><span>12월</span></span>
									<span class="arrow"></span>
								</button>
							</div>
						</div>
						<div class="slct-control">
							<div class="slct-label-box">
								<span class="label-tit">신청 월</span><span class="label-desc">남은 가능 일수 180일</span>
							</div>
							<div class="slct-box-wrap">
								<button type="button" class="slct-box done">
									<!-- <span class="txt"><span>월 선택</span></span> -->
									<span class="txt"><span>24년</span><span>12월</span></span>
									<span class="arrow"></span>
								</button>
							</div>
						</div>
					</div>
					
					<br/><br/><br/><br/>
					
					<h2>Dropdown_라인형 : [조합]</h2><br/>
					<div class="slct-control">
						<div class="slct-label-box">
							<span class="label-tit">신청 기간</span><span class="label-desc">남은 가능 일수 180일</span>
						</div>
						<div class="slct-box-wrap">
							<button type="button" class="slct-box">
								<span class="txt"><span>시작 월</span></span>
								<!-- <span class="txt"><span>24년</span><span>11월</span><span>29일</span></span> -->
								
								<span class="arrow"></span>
							</button>
							<span class="multi-box">
								<span class="hyphen">~</span>
								<button type="button" class="slct-box done">
									<!-- <span class="txt"><span>종료 월</span></span> -->
									<span class="txt"><span>24년</span><span>12월</span><span>29일</span></span>
									<span class="arrow"></span>
								</button>
							</span>
						</div>
					</div>

					<br/><br/><br/><br/>

					<h2>Dropdown_라인형 : [조합] - 싱글 제어</h2><br/>
					<div class="slct-control ">
						<div class="slct-label-box">
							<span class="label-tit">신청 일정</span><span class="label-desc">남은 가능 일수 180일</span>
						</div>
						<div class="slct-box-wrap">
							<button type="button" class="slct-box focused">
								<span class="txt"><span>일정 선택</span></span>
								<!-- <span class="txt"><span>24년</span><span>11월</span><span>29일</span></span> -->
								<span class="arrow"></span>
							</button>
							<button type="button" class="slct-box disabled">
								<span class="txt"><span>시간 선택</span></span>
								<span class="arrow"></span>
							</button>
							<button type="button" class="slct-box done error">
								<span class="txt"><span>19:00</span></span>
								<span class="arrow"></span>	
							</button>
							
						</div>
					</div>

					<br/><br/><br/><br/>

					<h2>Dropdown_라인형 : [조합] - 멀티 제어]</h2><br/>
					<h2>focused</h2><br/>
					<div class="slct-control focused">
						<div class="slct-label-box">
							<span class="label-tit">신청 기간</span><span class="label-desc">남은 가능 일수 180일</span>
						</div>
						<div class="slct-box-wrap">
							<button type="button" class="slct-box ">
								<span class="txt"><span>시작 월</span></span>
								<!-- <span class="txt"><span>24년</span><span>11월</span><span>29일</span></span> -->
								<span class="arrow"></span>
							</button>
							<span class="multi-box">
								<span class="hyphen">~</span>
								<button type="button" class="slct-box done">
									<!-- <span class="txt"><span>종료 월</span></span> -->
									<span class="txt"><span>24년</span><span>12월</span><span>29일</span></span>
									<span class="arrow"></span>
								</button>
							</span>
						</div>
					</div>
					
					<br/><br/>
					<h2>error</h2><br/>
					<div class="slct-control error">
						<div class="slct-label-box">
							<span class="label-tit">신청 기간</span><span class="label-desc">남은 가능 일수 180일</span>
						</div>
						<div class="slct-box-wrap">
							<button type="button" class="slct-box ">
								<span class="txt"><span>시작 월</span></span>
								<!-- <span class="txt"><span>24년</span><span>11월</span><span>29일</span></span> -->
								<span class="arrow"></span>
							</button>
							<span class="multi-box">
								<span class="hyphen">~</span>
								<button type="button" class="slct-box done">
									<!-- <span class="txt"><span>종료 월</span></span> -->
									<span class="txt"><span>24년</span><span>12월</span><span>29일</span></span>
									<span class="arrow"></span>
								</button>
							</span>
						</div>
					</div>

					<br/><br/>
					<h2>disabled</h2><br/>
					<div class="slct-control disabled">
						<div class="slct-label-box">
							<span class="label-tit">신청 기간</span><span class="label-desc">남은 가능 일수 180일</span>
						</div>
						<div class="slct-box-wrap">
							<button type="button" class="slct-box ">
								<span class="txt"><span>시작 월</span></span>
								<!-- <span class="txt"><span>24년</span><span>11월</span><span>29일</span></span> -->
								<span class="arrow"></span>
							</button>
							<span class="multi-box">
								<span class="hyphen">~</span>
								<button type="button" class="slct-box done">
									<!-- <span class="txt"><span>종료 월</span></span> -->
									<span class="txt"><span>24년</span><span>12월</span><span>29일</span></span>
									<span class="arrow"></span>
								</button>
							</span>
						</div>
					</div>
					
					<br/><br/><br/><br/>

					<h2>Dropdown_라인형 : [조합_드롭다운+검색버튼] </h2><br/>
					<div class="slct-control combine-element">
						<div class="slct-label-box">
							<span class="label-tit">기간</span>
						</div>
						<div class="slct-box-wrap">
							<!-- 드롭다운 선택 후 상태 : done 클래스 추가 및 텍스트 변경
								: <button type="button" class="slct-box done">
								<span class="txt"></span> -->
							<button type="button" class="slct-box ">
								<span class="txt"><span>시작 일</span></span>
								<!-- <span class="txt"><span>NN-NN-NN</span></span> -->
								<span class="arrow"></span>
							</button>
							<span class="hyphen">~</span>
							<button type="button" class="slct-box done">
								<!-- <span class="txt"><span>종료 일</span></span> -->
								<span class="txt"><span>NN-NN-NN</span></span>
								<span class="arrow"></span>
							</button>
							<div class="btn-group">
								<button type="button" class="btn btn-md btn-sec">
									<span class="txt">검색</span>
								</button>
							</div>
						</div>
						
					</div>
					

					<br/><br/><br/><br/>


					<h2>[select box]</h2><br/>
					<!-- form-select
					[[입력 값 클래스]]
					드롭다운 선택 후 입력 값 : form-select에 각각의 상태값 클래스 or 속성값 추가
					[[ 상태 class or 속성값 ]]
						** 포커스 : focused(클래스로 추가)
						** 에러 : error(클래스로 추가)
						** 비활성 : disabled(속성값으로 추가)
						** 읽기전용 : readonly(속성값으로 추가)
					- 제어 (셀렉박스 각제어 필요 시) : form-select에 클래스 or 속성값 추가
						** 포커스 : <select class="form-select focused">
						** 에러 : <select class="form-select error">
						** 비활성 : <select class="form-select" disabled>
						** 읽기전용 : <select class="form-select" readonly>
					-->
					<div class="input-control">
						<select id="" class="form-select">
							<option value="">선택</option>
							<option value="">옵션1</option>
							<option value="">옵션2</option>
							<option value="">직접인력</option>
						</select>
					</div>
					<br/><br/><br/><br/>
				</div>
			</div>
			


		</div>
		<!-- //container -->
	
		<!-- footer -->
		<footer class="footer"></footer>
		<!-- //footer -->
	</div>
</body>
</html>