<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
	<style>
		ul {
			margin: 30px 0;
		} 
		ul > li {
			margin: 20px 0;
		}
	</style>
</head>
<body>
	<div class="page-wrapper">
		<!-- header -->
		<header class="header"></header>
		<!-- //header -->
	
		<!-- container -->
		<div class="container">
			<ul>
				<li>
					<h3>normal</h3>
				</li>
					<!-- 
						@@@@ 퍼블 공지 : 개발 후 주석 삭제 요청 @@@@

						##label클릭시 활성화를 위해 체크박스 id값 동일하게 맞춤
						<label for="switch01" class="switch-label">
						<input type="checkbox" id="switch01" class="switch-input">
						##개발시 아이디값 필요하면 새 아이디 추가 후 개발 요함
					-->
					<!-- on/off 상태
						on 상태 : 
						<input type="checkbox" id="switch01" class="switch-input" checked>
						<label for="switch01" class="switch-label">
							<span>on 상태 문구</span>
							<span class="switch-box"></span>
						</label>						

						off 상태 :
						<input type="checkbox" id="switch01" class="switch-input" checked>
						<label for="switch01" class="switch-label">
							<span>off 상태</span>
							<span class="switch-box"></span>
						</label>
					 -->
				<li>
					<div class="switch-group">
						<input type="checkbox" id="switch01" class="switch-input">
						<label for="switch01" class="switch-label">
							<span>라벨명1</span>
							<span class="switch-box"></span>
						</label>
					</div>
				</li>

				<li>
					<h3>pressed disabled</h3>
				</li>
				<li>
					<div class="switch-group is-disabled">
						<input type="checkbox" id="switch02" class="switch-input" checked>
						<label for="switch02" class="switch-label">
							<span>라벨명2</span>
							<span class="switch-box"></span>
						</label>
					</div>
				</li>
				<li>
					<h3>pressed</h3>
				</li>
				<li>
					<div class="switch-group">
						<input type="checkbox" id="switch03" class="switch-input" checked>
						<label for="switch03" class="switch-label">
							라벨명3
							<span class="switch-box"></span>
						</label>
					</div>
				</li>
				<li>
					<h3>disabled</h3>
				</li>
				<li>
					<div class="switch-group is-disabled">
						<input type="checkbox" id="switch04" class="switch-input">
						<label for="switch04" class="switch-label">
							라벨명4
							<span class="switch-box"></span>
						</label>
					</div>
				</li>
			</ul>
			<ul>
				<li>
					<h3>normal</h3>
				</li>
					<!-- 
						@@@@ 퍼블 공지 : 개발 후 주석 삭제 요청 @@@@

						##label클릭시 활성화를 위해 체크박스 id값 동일하게 맞춤
						<label for="switch01" class="switch-label">
						<input type="checkbox" id="switch01" class="switch-input">
						##개발시 아이디값 필요하면 새 아이디 추가 후 개발 요함
					-->
				<li>
					<div class="switch-group">
						<input type="checkbox" id="switch05" class="switch-input">
						<label for="switch05" class="switch-label">
							<span class="switch-box"></span>
						</label>
					</div>
				</li>

				<li>
					<h3>pressed disabled</h3>
				</li>
				<li>
					<div class="switch-group is-disabled">
						<input type="checkbox" id="switch06" class="switch-input" checked>
						<label for="switch06" class="switch-label">
							<span class="switch-box"></span>
						</label>
					</div>
				</li>
				<li>
					<h3>pressed</h3>
				</li>
				<li>
					<div class="switch-group">
						<input type="checkbox" id="switch07" class="switch-input" checked>
						<label for="switch07" class="switch-label">
							<span class="switch-box"></span>
						</label>
					</div>
				</li>
				<li>
					<h3>disabled</h3>
				</li>
				<li>
					<div class="switch-group is-disabled">
						<input type="checkbox" id="switch08" class="switch-input">
						<label for="switch08" class="switch-label">
							<span class="switch-box"></span>
						</label>
					</div>
				</li>
			</ul>

		</div>
		<!-- //container -->
	
		<!-- footer -->
		<footer class="footer"></footer>
		<!-- //footer -->
	</div>
</body>
</html>