<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	
	<!-- Scripts -->
</head>

<body>
	<div class="page-wrapper">
	
		<!-- container -->
		<div class="container">
			<h3 style="margin:24px 0 30px;font-size:18px;font-weight:700;">tab</h3>
			
			<div class="tabnav__wrap">
				<ul class="tabnav">
					<li class="tab"><a href="javascript:void(0)" role="button" class="active">데이터 내역</a></li>
					<li class="tab"><a href="javascript:void(0)" role="button" class="">데이터 선물</a></li>
					<li class="tab"><a href="javascript:void(0)" role="button" class="">데이터 자동주기 설정</a></li>
				</ul>
			</div>

			<br>
			<br>
			<br>

			<h3 style="margin:24px 0 30px;font-size:18px;font-weight:700;">segment[라디오 input 구조]</h3>

			<div class="segment__wrap">
				<p class="seg-label">{탭레이블}</p>
				<div class="segnav">
					<input type="radio" class="seg-trigger seg1" id="seg1" name="tab">        
					<label for="seg1" class="segment">테스트 텍스트1</label>
					
					<input type="radio" class="seg-trigger seg2" id="seg2" name="tab">
					<label for="seg2" class="segment">테스트 텍스트22_테스트 텍스트1</label>
					
					<div class="marker-box">
						<div class="marker"></div>
					</div>
				</div>

				<ul class="bullet-list info">
					<li class="bullet-item">
						도움 내용을 기입해주세요
					</li>
				</ul>
			</div>
		</div>
		<!-- //container -->
	
		<!-- footer -->
		<footer class="footer"></footer>
		<!-- //footer -->
	</div>
</body>
</html>