<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Table</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css">
    <script>
        const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
        function initCheckDevice() {
            // PC
            if (!isMobile) {
                document.body.classList.add("is-pc");
            }
        }
        window.onload = ()=> {
            initCheckDevice();
        }
    </script>
</head>
<body>
    <div class="page-wrapper">
		<!-- header -->
        <header class="header">
            <div class="header__util">
                <button type="button" class="btn btn-util prev"><span>이전</span></button>
            </div>
            <div class="header__btn btn-group">
                
                <button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
            </div>
        </header>
        <!-- //header -->
	
		<!-- container -->
		<div class="container">

            <!-- 아코디언 영역 -->
            <div class="section__cont desc" style="padding-top:86px;">
                <div class="cont__wrap cont__wrap-vertical">
                    <h3 style="font-weight:600;opacity:0.8;font-size:18px;margin-bottom:8px;">[테이블 default]</h3>
                    <!-- Default :: table > thead or tbody 내에서 tr 생성(클래스 지정 x)
                        Page 별로 필요 시 자유롭게 클래스 생성 
                    -->
                    <table class="">
                        <thead>
                            <tr>
                                <th scope="col">구분</th>
                                <th scope="col">상담 가능 시간</th>
                                <th scope="col">상담 가능 업무</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>평일</td>
                                <td>오전 9시 ~ 오후 6시</td>
                                <td>모든 상담 가능</td>
                            </tr>
                            <tr>
                                <td>평일 야간</td>
                                <td>오전 9시 ~ 오후 10시</td>
                                <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                            </tr>
                            <tr>
                                <td>토요일 주간</td>
                                <td>오전 6시 ~ 오후 10시</td>
                                <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                            </tr>
                            <tr>
                                <td>토요일 야간, 일요일, 공휴일</td>
                                <td>오후 6시 ~ 오후 10시</td>
                                <td>분실, 해외로밍, 일시정지 해제</td>
                            </tr>
                            <tr>
                                <td>심야</td>
                                <td>오후 10시 ~ 다음날 오전 9시</td>
                                <td>위와 동일</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 style="font-weight:600;opacity:0.8;font-size:18px;margin:12px 0 8px;">[테이블 colspan & rowspan 존재 및 tbody에 th 포함되는 케이스]</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2">결제 등급</th>
                                <th scope="col" colspan="2">최대 가능한도</th>
                            </tr>
                            <tr>
                                <th scope="col">신규</th>
                                <th scope="col">기존</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">VVIP</th>
                                <td rowspan="2">25만원/월</td>
                                <td>100만원/월</td>
                            </tr>
                            <tr>
                                <th scope="row">VIP</th>
                                <td>60만원/월</td>
                            </tr>
                            <tr>
                                <th scope="row">일반</th>
                                <td rowspan="2">10만원/월</td>
                                <td>25만원/월</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 style="font-weight:600;opacity:0.8;font-size:18px;margin:12px 0 8px;">[테이블 column 2개인 경우_임의]</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">구분</th>
                                <th scope="col">상담 가능 업무</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>평일</td>
                                <td>모든 상담 가능</td>
                            </tr>
                            <tr>
                                <td>평일 야간</td>
                                <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                            </tr>
                            <tr>
                                <td>토요일 주간</td>
                                <td>분실, 통화품질, 해외로밍, 일시정지 해제</td>
                            </tr>
                            <tr>
                                <td>토요일 야간, 일요일, 공휴일</td>
                                <td>분실, 해외로밍, 일시정지 해제</td>
                            </tr>
                            <tr>
                                <td>심야</td>
                                <td>위와 동일</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>