@charset "UTF-8";
.main .section__cont:first-child {
	padding-top: 56px;
}
.main.multiProds .section__cont:first-child {
	padding-top: 101px !important; /* 25.10.22 타화선 조회 셀렉박스 추가 요건으로 헤더 고정*/
}
.main .cont__wrap.cont__wrap-banner {
	padding: 10px 20px 0;
}
.main .cont__wrap.cont__wrap-banner .swiper {
	animation: fadeInDown 0.8s;
}
.main .cont__wrap.cont__wrap-banner .swiper-slide {
	height: auto;
}
.main .cont__wrap.cont__wrap-banner .swiper-slide .banner {
	height: 100%;
}
.main .cont__wrap.cont__wrap-banner .swiper-pagination {
	position: absolute;
	bottom: 16px;
	font-size: 12px;
	font-weight: 500;
	text-align: right;
	padding-right: 18px;
}
.main .cont__wrap.cont__wrap-banner .swiper-pagination .swiper-pagination-fraction {
	color: var(--dt-gray10);
}
.main .cont__wrap.cont__wrap-banner .swiper-pagination .swiper-pagination-current {
	font-size: 12px;
	font-weight: 500;
	color: var(--dt-primary);
}
.main .cont__wrap.cont__wrap-banner .swiper-pagination .swiper-pagination-total {
	font-size: 12px;
	font-weight: 500;
}
.main .cont__wrap.cont__wrap-message {
	padding: 27px 120px 27px 20px;
	background-image: url(../images/img/img-hm-home.png);
	background-position: right 0 bottom -13px;
	background-repeat: no-repeat;
	background-size: 146px 146px;
}
.main .cont__wrap.cont__wrap-message .txt {
	line-height: 1.4;
}
.main .cont__wrap.cont__wrap-category {
	padding-bottom: 32px;
}

.menu {
	background-color: var(--dt-gray02);
}
.menu .cont__wrap-freqMenu .con__tit-box .ico {
	background-image: url(../images/icon/ic-chips-flag.svg);
}
.menu .cont__wrap-freqMenu .txt-head {
	font-size: 14px;
	font-weight: 500;
	color: var(--dt-gray11);
}
.menu .card-group .card {
	min-height: 136px;
}

.btn-top {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1;
}

.is-scrolled .section__cont:has(.cont__wrap-category) {
	position: sticky;
	top: 56px;
	left: 0;
	background-color: var(--dt-white);
	box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.04);
	overflow: hidden;
	padding-bottom: 0;
}
.is-scrolled .section__cont:has(.cont__wrap-category) .cont__wrap {
	position: relative;
	padding: 0;
}
.is-scrolled .section__cont:has(.cont__wrap-category) .cont__wrap::before {
	position: absolute;
	content: "";
	display: none;
	width: 24px;
	height: 52px;
	top: 0;
	left: 0;
	background: linear-gradient(-270deg, #FFF 10%, rgba(255, 255, 255, 0) 100%);
}
.is-scrolled .section__cont:has(.cont__wrap-category) .cont__wrap::after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 24px;
	height: 52px;
	top: 0;
	right: 0;
	background: linear-gradient(270deg, #FFF 10%, rgba(255, 255, 255, 0) 100%);
}
.is-scrolled .section__cont:has(.cont__wrap-category) .cont__wrap.scroll-start::before {
	display: inline-block;
}
.is-scrolled .section__cont:has(.cont__wrap-category) .cont__wrap.scroll-end::before {
	display: inline-block;
}
.is-scrolled .section__cont:has(.cont__wrap-category) .cont__wrap.scroll-end::after {
	display: none;
}
.is-scrolled .section__cont:has(.cont__wrap-category) .chips-group {
	flex-wrap: nowrap;
	border-top: 1px solid var(--dt-gray17);
	padding: 8px 20px;
	overflow-x: auto;
	gap: 4px;
}
.is-scrolled .btn-top {
	display: flex;
}
.is-scrolled.multiProds .section__cont:has(.cont__wrap-category) {
	top: 101px; /* 25.10.22 타화선 조회 셀렉박스 추가 요건으로 헤더 고정 */
}