@charset "UTF-8";
.container .section__cont.summary {
	padding: 64px 0 18px;
	gap: 9px;
}

.section__cont.summary {
	background-color: var(--dt-white);
}
.section__cont.summary .cont__wrap {
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;
	height: max-content;
	min-height: 130px;
	padding: 0 20px;
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: right 5px bottom -12px;
}
.section__cont.summary .cont__wrap .info-price-wrap .info-price.total-last .row, .section__cont.summary .cont__wrap .info-price-wrap .info-price-detail.total-last .row {
	margin-top: 4px;
}
.section__cont.summary .cont__wrap-bill { /* 청구요금 자녀요금 청구서받는방법 , 홀맨 + 편지지 */
	background-image: url(../images/img/img-hm-bill.png);
}
.section__cont.summary .cont__wrap-realtime { /* 실시간요금, 홀맨 + 동전 */
	background-image: url(../images/img/img-hm-realtime.png);
}
.section__cont.summary .cont__wrap-usestate { /* 실시간 사용량 , 홀맨 + 원형그래프 */
	background-image: url(../images/img/img-hm-usestate.png);
}
.section__cont.summary .cont__wrap-account { /* 바로납부-입금전용계좌, 홀맨 + 반지갑,동전 */
	background-image: url(../images/img/img-hm-account.png);
}
.section__cont.summary .cont__wrap-payment { /* 요금납부방법, 홀맨 + 카드2개,동전 */
	background-image: url(../images/img/img-hm-automatic-withdrawal.png);
}
.section__cont.summary .cont__wrap-pauseTemp { /* 일시정지, 홀맨 + 휴대폰,일시정지아이콘 */
	background-image: url(../images/img/img-hm-pauseTemp.png);
}
.section__cont.summary .cont__wrap-MOPaymentUsed { /* 휴대폰결제 외 공통, 홀맨 + 휴대폰,카드 */
	background-image: url(../images/img/img-hm-MOpayment.png);
}
.section__cont.summary .cont__wrap-plan { /* 나의요금제, 홀맨 + 카드지갑,동전 */
	background-image: url(../images/img/img-hm-myplan.png);
}
.section__cont.summary .cont__wrap-realtimeRoaming { /* 실시간로밍 , 홀맨 + 비행기 */
	background-image: url(../images/img/img-hm-roaming.png);
}
.section__cont.summary .cont__wrap-roamingUsed { /* 로밍이용내역 , 홀맨 + 비행기 */
	background-image: url(../images/img/img-hm-roaming.png);
}
.section__cont.summary .cont__wrap-dataGift { /* 데이터기프트 */
	background-image: url(../images/img/img-hm-dataGift.png);
}
.section__cont.summary .txt-select-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 4px;
	color: var(--dt-gray16);
}
.section__cont.summary .txt-select-wrap .txt {
	line-height: 1.5;
}
.section__cont.summary .txt-select-wrap:has(.chips-date + .txt) > .txt {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}
.section__cont.summary .txt-select-wrap .chips-date {
	background-color: var(--dt-gray02);
}
.section__cont.summary .txt-select-wrap .chips-date .txt {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}
.section__cont.summary .txt.price {
	width: calc(100% - 70px);
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	font-size: 18px;
	font-weight: 600;
	row-gap: 4px;
}
.section__cont.summary .txt.price .deco {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-right: 2px;
}
.section__cont.summary .txt.price .deco-sub {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5;
	margin-right: 2px;
}
.section__cont.summary .txt.price .color-prim {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5;
}
.section__cont.summary .txt.price .txt {
	line-height: 1.5;
}
.section__cont.summary .txt.price:has(.deco), .section__cont.summary .txt.price:has(.color-prim) {
	color: var(--dt-gray14);
}
.section__cont.summary .txt.price:has(.deco + .color-prim) {
	color: var(--dt-gray14);
}
.section__cont.summary .txt.price:has(.deco + .color-prim) .color-prim {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}
.section__cont.summary .txt.price .txt-sub {
	width: 100%;
	font-size: 16px;
	color: var(--dt-black);
}
.section__cont.summary .btn-tooltip {
	margin-left: 2px;
}
.section__cont.summary .btn-tooltip img {
	width: 20px;
	height: 20px;
}
.section__cont.summary .tooltip-wrap {
	max-width: 280px;
}

/* 25.11.04 타회선 조회 셀렉박스 추가 요건 : 헤더 밑 패딩 간격 늘림 */
.multiProds.main .container .section__cont.summary {
	padding-top: 20px !important;
	gap: 9px;
}
.multiProds .container .section__cont.summary {
	padding-top: 104px !important;
	gap: 9px;
}

@media screen and (max-width: 280px) {
	.section__cont.summary .cont__wrap {
		min-height: 146px;
	}
}
.section__cont:has(.inform-wrap) .inform-wrap + table {
	margin-top: 24px;
}
.section__cont:has(.cont__wrap-service) {
	padding: 72px 0 105px;
}
.section__cont:has(.cont__wrap-service):has(.cont__wrap-service > .inform-wrap) {
	padding-top: 92px;
}
@media screen and (max-width: 281px) {
	.section__cont:has(.cont__wrap-service) {
		padding-bottom: 165px;
	}
}
.section__cont:has(.switch__wrap) {
	padding-top: 56px;
}
.section__cont.segment {
	padding: 36px 0 48px;
	gap: 0;
}
.section__cont:has(.cont__wrap-cms) {
	padding: 92px 0 95px;
	gap: 28px;
}
.section__cont.desc:has(.accnt-cont-wrap) {
	height: calc(100% - 262px);
}

.cont__wrap .con__tit-box .tit-head {
	flex-wrap: wrap;
}
.cont__wrap .con__tit-box .tit-head .txt-title {
	line-height: 22px;
}
.cont__wrap .con__tit-box .tit-head .color-prim {
	font-size: 18px;
	font-weight: 700;
}
.cont__wrap .con__tit-box .tit-tail {
	min-width: max-content;
}
.cont__wrap .con__tit-box:not(:has(.tit-tail)):has(.bullet-list) {
	flex-direction: column;
	row-gap: 6px;
}
.cont__wrap.cont__wrap-vertical.wd-full {
	row-gap: 0;
}
.cont__wrap.cont__wrap-vertical.wd-full:has(.card-group.bank) {
	height: 100%;
}
.cont__wrap.cont__wrap-vertical.wd-full > div {
	padding-right: 20px;
	padding-left: 20px;
}
.cont__wrap.cont__wrap-vertical.wd-full .con__tit-box {
	padding-bottom: 16px;
}
.cont__wrap.cont__wrap-vertical.wd-full .card-group.bank {
	margin-bottom: 16px;
}
.cont__wrap.cont__wrap-vertical.wd-full .accnt-cont-wrap {
	min-height: 120px;
	overflow-y: auto;
}
.cont__wrap.cont__wrap-vertical.wd-full .accnt-cont-wrap .btn-group {
	padding-right: 0;
	padding-left: 0;
}

.info-price-single {
	margin: 0 20px;
	padding: 18px 20px;
	background-color: var(--dt-white);
	border: 1px solid var(--dt-gray08);
	border-radius: 8px;
}
.info-price-single span {
	text-align: center;
}
.info-price-single .txt-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	color: var(--dt-gray11);
	gap: 4px;
	font-size: 16px;
	font-weight: 600;
}
.info-price-single .txt-info.decrease .img-box {
	transform: rotate(180deg);
}
.info-price-single .txt-info:has(> span:nth-child(2)) {
	flex-direction: column;
}
.info-price-single .txt-info > span {
	word-break: keep-all;
}
.info-price-single .txt-info > span:first-child:not(:has(.color-prim)) {
	color: var(--dt-primary);
}
.info-price-single .txt-price {
	display: inline-block;
	margin-right: 4px;
	font-size: 18px;
	font-weight: 700;
	color: var(--dt-primary); /* 추후 변경 예정 */
}
.info-price-single .img-box {
	min-width: 18px;
	width: 18px;
	height: 18px;
	margin-left: 2px;
}

.select-billdate {
	display: flex;
	flex-direction: column;
	min-height: 21px;
}
.select-billdate .txt-due {
	color: var(--dt-gray13);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}

.card-group.benefit {
	padding: 22px 4px;
	gap: 0;
	background-color: var(--dt-gray02);
	border-radius: 8px;
}
.card-group.benefit .card {
	padding: 0 16px;
	border-radius: unset;
	box-shadow: unset;
	background-color: unset;
}
.card-group.benefit .card:nth-of-type(2) {
	border-left: 1px solid var(--dt-gray08);
}
.card-group.benefit .card .txt { /* 타이틀 */
	font-size: 12px;
	line-height: 18px;
}
.card-group.benefit .card .item.util {
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 8px;
}
.card-group.benefit .img-box {
	width: 48px;
	height: 48px; /* 유투브, 미디어 아이콘 */
}
.card-group.benefit .item-tit {
	max-width: 51px;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
.card-group.benefit .card-body {
	row-gap: 6px;
}
.card-group.bank {
	row-gap: 16px;
}
.card-group.bank .item.util {
	min-width: 20px;
}
.card-group.bank .item.text {
	width: calc(100% - 52px);
}

.section__cont:has(.section__cont):has(+ .section__divider) {
	padding-bottom: 0;
}

.cont__wrap.cont__wrap-btBtn {
	padding: 0;
	background-color: transparent;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: 999;
	width: 100%;
	max-width: var(--max-devicewidth) !important;
}
.cont__wrap.cont__wrap-btBtn .btn-group {
	position: relative;
	background-color: var(--dt-white);
	padding: 0 20px 20px;
}
.cont__wrap.cont__wrap-btBtn .btn-group::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0) 100%);
}
.cont__wrap.cont__wrap-btBtn .btn-group.full {
	padding: 0;
}
.cont__wrap.cont__wrap-btBtn .btn-group.full .btn {
	border-radius: 0;
}
.cont__wrap.cont__wrap-btBtn .btn.bg-bank {
	width: calc(100% - 40px);
	margin: 0 auto 20px;
	background-color: var(--dt-gray01);
	border: 1px solid var(--dt-gray08);
}
.cont__wrap.cont__wrap-btBtn:has(.accordion-container:first-child) {
	box-shadow: 0px -8px 13px rgba(0, 0, 0, 0.04);
}
.cont__wrap.cont__wrap-btBtn:has(.accordion-container:first-child) .accordion-container {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8px;
}
.cont__wrap.cont__wrap-cms .con__tit-box.flex-column {
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 28px;
	gap: 12px;
}
.cont__wrap.cont__wrap-cms .con__tit-box.flex-column .text-box {
	text-align: left;
	gap: 6px;
}
.cont__wrap.cont__wrap-cms .con__tit-box.flex-column .text-box .tit {
	font-size: 14px;
}
.cont__wrap.cont__wrap-cms .con__tit-box.flex-column .text-box .txt {
	font-size: 16px;
}
.cont__wrap.pauseTemp {
	margin-top: 28px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.cont__wrap.pauseTemp .info-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 12px;
}
.cont__wrap.pauseTemp .info-wrap .txt-tit {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	color: var(--dt-gray16);
}

.txt-infoWrap {
	font-size: 12px;
	font-weight: 600;
	color: var(--dt-gray11);
	margin-top: 28px;
}
.txt-infoWrap .subTxt-info {
	font-size: 12px;
	font-weight: 600;
	color: var(--dt-gray10);
}

/* 카카오톡 포지션 다발*/
.badge-wrap {
	padding-bottom: 20px;
	text-align: center;
}
.badge-wrap .btn-kakao {
	padding: 8px 12px 8px 32px;
	border-radius: 999px;
	border: 1px solid var(--dt-gray08);
	background-color: var(--dt-white);
	background-image: url(../images/icon/ic-btn-kakao.svg);
	background-repeat: no-repeat;
	background-position: left 12px center;
	background-size: 16px 16px;
	font-size: 14px;
	font-weight: 500;
	color: var(--dt-gray12);
}

/* 로딩 애니메이션 */
.loading-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 4px auto 24px;
}
.loading-wrap .loading-cir {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--dt-primary);
	animation: loading 1.25s infinite ease-in-out;
}
.loading-wrap .loading-cir:nth-child(2) {
	opacity: 0.6;
	animation-delay: 0.25s;
}
.loading-wrap .loading-cir:nth-child(3) {
	opacity: 0.1;
	animation-delay: 0.5s;
}

@keyframes loading {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.1;
	}
	75% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
/* 25.11.04 타회선 조회 셀렉박스 추가 요건 : 헤더 밑 패딩 간격 늘림 */
.multiProds .container .section__cont:has(.cont__wrap-service) {
	padding-top: 112px !important;
}
.multiProds .container .section__cont:has(.cont__wrap-service):has(.cont__wrap-service > .inform-wrap) {
	padding-top: 132px !important;
}