@import "../base/mixin";

// 아코디언 인터랙션 실행 관련 코드
.accordion-container {
	&:last-of-type {//마지막요소일 경우
		.info-price {
			&::after {display:none}
		}
		.info-price-detail  {
			padding-bottom:0;
			&::after {display:none}
		}
		&.open {
			.info-price {&::after {display:block}}
		}
	}
}
.accordion-container {// default
	> button.accordion-header {
		cursor: pointer;
	}

	.accordion-header {
		.ico-toggle{
			transition: transform 0.3s ease;
		}
	}
	.accordion-content {
		display: none;
	}
	&.open {
		.accordion-header {
			padding-bottom:16px;
			.ico-toggle{
				transform:rotate(180deg);
			}
		}
		> .accordion-content {
			display: block;
			&:has(+ .btn-toggle) { /* 자세히보기-간단히보기 */
				border-top:1px solid var(--dt-gray06);
				padding-top:20px;
			}
		}
	}
}
// 아코디언 헤더
.accordion-header {
	@include flexRow;
	justify-content: space-between;
	width: 100%;
	padding: 16px 20px;
	gap: 8px;
	.row {
		@include flexRow;
		align-items:center;
		&.txt-title {
			> span {
				@include fw-7(16px);
				line-height: 1.5;
			}
		}
	}
	.txt-title {
		// flex: 1;
		column-gap: 4px;
		color:var(--dt-gray16);
		text-align: left;
		line-height: 1.5;
		.badge-round {
			align-self:baseline;
		}
	}
	.txt-price {
		justify-content: flex-end;
		span:first-of-type {
			color:var(--dt-black);
			@include fw-7(16px);
			line-height: 1.5;
		}
		// .img-box {margin-left:4px;}
	}
	&.btn-toggle { // 자세히보기 버튼
		justify-content: center;
		align-items: center;
		padding:14px;
		gap:0;
		background-color:var(--dt-gray06);
		border-radius:4px;
	}
	&.chckbox-area { // 체크박스 영역의 경우
		position: relative;
		align-items: center;
		padding: 20px 0 10px;
		.chck-group {
			width: calc(100% - 30px);
		}
		.btn-toggle .img-box {
			flex: 0;
			width: 24px;
			height: 24px;
		}
		& + .accordion-content {
			max-height: 112px;
			overflow-y: auto;
			.bullet-list {
				padding-bottom:16px;
			}
		}
	}
	&.info-price  {
		> .txt-title {
			gap: 8px;
			max-width: calc(100% - 134px);
			flex: 1 auto;
			> span:not(.badge) {
				word-break: break-all;
			}
			> .badge.badge-round {
				flex: 0;
				min-width: 24px;
				min-height: 24px;
			}
		}
		> .txt-price { // 금액만 가로고정 9,999,999원까지 대응
			flex-wrap: wrap-reverse;
			align-content: flex-end;
			column-gap: 6px;
			row-gap:  8px;
			max-width: 126px;
			flex: 1 auto;
			text-align: right;
			> span:first-of-type {
				min-width: 96px;
			}
		}
	}
}
@media screen and (max-width:359px) {
	.accordion-header.info-price > .txt-title {
		flex-wrap:wrap;
		align-content: flex-start;
		max-width: calc(100% - 96px);
	}
	.accordion-header.info-price > .txt-price {
		flex-wrap:wrap-reverse;
		align-content: flex-end;
		//max-width: 96px;
	}
}
.info-price-detail {
	padding: 0 20px;
	@include flexColum;
	row-gap: 8px;
	.info-wrap {
		&:first-of-type {padding-top:16px;}
		&:last-of-type {padding-bottom:16px;}
		padding-right: 10px;
		.row {
			display: flex;
			justify-content: space-between;
			column-gap: 8px;
			> span {
				line-height: 1.5;
			}
		}
	}
	.txt-title {
		padding-left: 10px;
		&.ico {
			padding-left: 22px;
			background-image: url(../images/icon/ic-list-brace.svg);
			background-position: 10px 3px;
			background-size: 8px;
			background-repeat: no-repeat;
		} 
	}
	.txt-title, .txt-price {
		@include fw-5(14px); 
		color: var(--dt-gray14);
		line-height: 1.5;
	}
	.txt-price {
		min-width: 82px;
		text-align: right;
	}
	.list-detail {
		padding-top: 4px;
		padding-left: 14px;
		row-gap: 4px;
		.txt-title, .txt-price {
			@include fw-5(12px);
			color: var(--dt-gray11);
			line-height: 1.5;
		}
	}
}
.list-payment {
	&:has(> .info-price-wrap .total-last) {
		row-gap: 0;
		.list-info-price {
			&:last-child {
				padding-bottom: 0px;
			}
		}
	}
	.info-price {
		&.total-last {
			position:relative;
			&::after {
				content:'';
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% - 40px);
				height: 1px;
				background-color: var(--dt-gray08);
			}
		}
	}
}

.accordion-group {
	&.card {
		padding: 0;
		gap: 0;
		.accordion-header {
			align-items: center;
			.txt-title {
				@include fw-6(16px);
				color: var(--dt-gray16);
				line-height: 24px;
			}
			.ico-toggle {
				flex: 0;
				width: 24px;
				min-width: 24px;
				height: 24px;
			}
		}
		.accordion-content {
			padding: 0 20px 16px;
			> * {
				padding-top: 16px;
				border-top: 1px solid var(--dt-gray06);
			}
			.bullet-list {
				--bulletList-font-size: 0.875rem;
			}
		}	
	}	
}
