@import '../base/mixin';
.inform-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	.inform-img {
		display: inline-block;
		width: 96px;
		min-width: 96px;
		height: 96px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		&.warning {
			background-image: url(../images/img/img_warning.png);
		}
		&.success {
			background-image: url(../images/img/img_success.png);
		}
		&.check {
			background-image: url(../images/img/img_check.png);
		}
		&.chatbot {
			background-image: url(../images/img/img_chatbot.png);
		}
		&.csCenter {
			background-image: url(../images/img/img_customer_center.png);
		}
		&.call {
			background-image: url(../images/img/img_call.png);
		}
		&.chat {
			background-image: url(../images/img/img_chat.png);
		}
		&.ai {
			background-image: url(../images/img/img_ai.png);
		}
		&.confirm {
			background-image: url(../images/img/img_confirm.png);
		}
	}
	.text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		.tit {
			@include fw-6(20px);
			color: var(--dt-black);
			line-height: 1.4;
			word-break: keep-all;
			.color-prim {
				@include fw-6(20px);
			}
		}
		.txt {
			@include fw-5();
			color: var(--dt-gray11);
			line-height: 1.5;
			word-break: keep-all;
			.color-prim {
				color: var(--dt-primary);
			}
		}
	}
	.btn-md {
		padding: 9px 12px;
		gap: 4px;
	}
}