.section__cont {
	&:has(.inform-wrap) {
		.inform-wrap + table {
			margin-top: 24px;
		}
	}
	&:has(.cont__wrap-service) {
		padding: 72px 0 105px;
		&:has(.cont__wrap-service > .inform-wrap) {
			padding-top: 92px;
		}
	}
	@media screen and (max-width: 281px) {
		&:has(.cont__wrap-service) {
			padding-bottom: 165px;
		}
	}
	&:has(.switch__wrap) { // summary, service 공통
		padding-top: 56px;
	}
	&.segment {
		padding: 36px 0 48px;
		gap: 0;
	}
	
	&:has(.cont__wrap-cms) {
		padding: 92px 0 95px;
		gap: 28px;
	}
	// &:has(.cont__wrap-btBtn button:nth-of-type(2)){
	// 	padding-bottom: 155px;
	// }
	&.desc {//입금전용계좌추가
		&:has(.accnt-cont-wrap){
			height:calc(100% - 262px);
		}
	}
}
.cont__wrap {
	.con__tit-box {
		.tit-head {
			flex-wrap:wrap;
			.txt-title {line-height:22px;}
			.color-prim {font-size: 18px;font-weight: 700;}
		}
		.tit-tail {min-width:max-content;}
		&:not(:has(.tit-tail)) {
			&:has(.bullet-list) {
				flex-direction:column;
				row-gap:6px;
			}
		}
	}
	&.cont__wrap-vertical {
		&.wd-full {
			row-gap:0;
			&:has(.card-group.bank) {
				height:100%;
			}
			> div {// con__tit-box, accnt-cont-wrap
				padding-right:20px;
				padding-left:20px;
			}
			.con__tit-box {
				padding-bottom:16px;
			}
			.card-group.bank {
				margin-bottom:16px;
			}
			.accnt-cont-wrap {
				min-height:120px;
				overflow-y: auto;
				.btn-group {padding-right:0;padding-left:0;}
			}
		}
	}
}
.info-price-single { // 써머리bg영역 내 증감, 주의사항 공지 영역
	margin:0 20px;
	padding:18px 20px;
	background-color:var(--dt-white);
	border: 1px solid var(--dt-gray08);
	border-radius:8px;
	span {
		text-align:center;
	}
	.txt-info {
		@include flexBox(center, center);
		flex-direction:row;
		flex-wrap:wrap;
		color:var(--dt-gray11);
		gap:4px; 
		@include fw-6();
		&.decrease {
			.img-box {transform: rotate(180deg)}
		}
		&:has(> span:nth-child(2)) {
			flex-direction:column;
		}
		> span {word-break: keep-all;}
		> span:first-child {
			&:not(:has(.color-prim)) {
				color:var(--dt-primary);
			}
		}
	}
	.txt-price {
		display:inline-block;
		margin-right:4px;
		@include fw-7(18px);
		color:var(--dt-primary); /* 추후 변경 예정 */
	}
	.img-box {
		min-width:18px;
		width:18px;height:18px;
		margin-left:2px;
	}
}
.select-billdate {
	@include flexColum;
	min-height: 21px;	
	.txt-due {
		color: var(--dt-gray13);
		@include fw-5(14px);
		line-height:1.5;
	}
}
.card-group {
	&.benefit {
		padding:22px 4px;
		gap:0;
		background-color: var(--dt-gray02);
		border-radius:8px;
		.card {
			padding:0 16px;
			border-radius:unset;
			box-shadow:unset;
			background-color:unset;
			&:nth-of-type(2) {border-left:1px solid var(--dt-gray08);}
			.txt {/* 타이틀 */
				font-size:12px;
				line-height:18px;
			}
			.item.util {
				justify-content:flex-start;
				flex-wrap: wrap;
				gap:8px;
			}
		}
		.img-box {width:48px;height:48px; /* 유투브, 미디어 아이콘 */}
		.item-tit {max-width:51px;@include fw-5(14px);line-height:21px;}
		.card-body {row-gap:6px;}
	}
	&.bank {
		row-gap:16px;
		.item.util {min-width:20px;}
		.item.text{width:calc(100% - 52px);}
	}
}

// 자녀요금 billChild section__cont 내 section__cont 로 인한 divider 조정
.section__cont:has(.section__cont):has(+.section__divider) {
	padding-bottom: 0;
}
.cont__wrap {
	&.cont__wrap-btBtn {
		padding: 0;
		background-color: transparent;
		position: fixed;
		left: 50%;
		transform:translateX(-50%);
		bottom: 0;
		z-index:999; // 삭제 x
		width: 100%;
		max-width: var(--max-devicewidth) !important;
		.btn-group {
			position: relative;
			background-color: var(--dt-white);
			padding: 0 20px 20px;
			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				top: -20px;
				left: 0;
				width: 100%;
				height: 20px;
				background: linear-gradient(0deg, #FFF 17.5%, rgba(255, 255, 255, 0.00) 100%);
			}
			// 풀버튼일 경우 패딩 0
			&.full { 
				padding: 0;
				.btn {
					border-radius: 0;
				}
			}
		}
		.btn.bg-bank {
			width:calc(100% - 40px);
			margin:0 auto 20px;
			background-color:var(--dt-gray01);
			border:1px solid var(--dt-gray08);
		}
		&:has(.accordion-container:first-child) { // 버튼 위 아코디언(동의영역) 올라가는 케이스
			.accordion-container {
				padding-left:20px;
				padding-right:20px;
				padding-bottom:8px;
			}
			box-shadow:0px -8px 13px rgba(0, 0, 0, 0.04);
		}
	}
	// CMS : 실시간출금동의
	&.cont__wrap-cms {
		.con__tit-box {
			&.flex-column {
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 28px;
				gap: 12px;
				.text-box {
					text-align: left;
					gap: 6px;
					.tit {
						font-size: 14px;
					}
					.txt {
						font-size: 16px;
					}
				}
			}
		}
	}
	&.pauseTemp {
		margin-top: 28px;
		@include flexColum();
		row-gap: 24px;
		// .input-control {
		// 	.input-group {
		// 		padding-top: 16px;
		// 	}
		// 	&.floating {
		// 		.input-group {
		// 			padding-top: 0;
		// 		}
		// 	}
		// }
		.info-wrap {
			@include flexBox(between, center);
			column-gap: 12px;
			.txt-tit {
				@include fw-6(16px);
				line-height: 1.2;
				color: var(--dt-gray16);
			}
		}
	}
}

.txt-infoWrap {
	@include fw-6(12px);
	color: var(--dt-gray11);
	margin-top: 28px;
	.subTxt-info {
		@include fw-6(12px);
		color: var(--dt-gray10);
	}
}

/* 카카오톡 포지션 다발*/
.badge-wrap {
	padding-bottom: 20px;
	text-align: center;
	.btn-kakao {
		padding: 8px 12px 8px 32px;
		border-radius: 999px;
		border: 1px solid var(--dt-gray08);
		background-color: var(--dt-white);
		background-image: url(../images/icon/ic-btn-kakao.svg);
		background-repeat: no-repeat;
		background-position: left 12px center;
		background-size: 16px 16px;
		@include fw-5(14px);
		color: var(--dt-gray12);
	}
}

/* 로딩 애니메이션 */
.loading-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px; // 원 사이 간격
	margin: 4px auto 24px;
	.loading-cir {
		width: 8px; // 원의 크기
		height: 8px; // 원의 크기
		border-radius: 50%; // 원형
		background-color: var(--dt-primary); // 기본 원 색상 (첫 번째 원 기준)
		animation: loading 1.25s infinite ease-in-out; // 애니메이션 효과
		&:nth-child(2) {
			opacity: 0.6; // 두 번째 원 초기 투명도
			animation-delay: 0.25s;
		}
		
		&:nth-child(3) {
			opacity: 0.1; // 세 번째 원 초기 투명도
			animation-delay: 0.5s;
		}
	}
}


@keyframes loading {
	0% {
	  opacity: 1; // 첫 번째 원이 밝음
	}
	25% {
	  opacity: 0.6; // 두 번째 원으로 전환
	}
	50% {
	  opacity: 0.1; // 세 번째 원으로 전환
	}
	75% {
	  opacity: 0.6; // 다시 두 번째 원으로 전환
	}
	100% {
	  opacity: 1; // 시작 상태로 돌아감
	}
}

/* 25.11.04 타회선 조회 셀렉박스 추가 요건 : 헤더 밑 패딩 간격 늘림 */
.multiProds { 
	.container {
		.section__cont {
			&:has(.cont__wrap-service) {
				padding-top: 112px !important;
				&:has(.cont__wrap-service > .inform-wrap) {
					padding-top: 132px !important;
				}
			}
		}
	}
}