@import "../base/mixin";

table {
    display:table;
    table-layout: fixed;
    width: 100%;
    &.table-bullet-desc {
        margin-top:12px;
        & + .bullet-list {margin-top:8px;}
    }

    th, td {
        width:auto;
        max-width:max-content;
        color:var(--dt-gray12);
        font-size:12px;
        vertical-align:middle;
        text-align:center;
        word-wrap: break-word;
        word-break:keep-all;
        border:1px solid var(--dt-gray08);
        &.txt-amount {padding-right:.4em;} //금액
    }
    th{
        padding:6px .3em;
        background-color:var(--dt-gray02);
        font-weight:600;
        line-height:17px;
        letter-spacing: -0.2px;
    }
    td {
        padding:8px .2em;
        background-color:var(--dt-white);
        font-weight:500;
        line-height:16px;
        letter-spacing: -0.3px;
        &.txt-amount {text-align:right;}
    }
    .total-area { // 합계
        th, td {
            background-color:var(--dt-gray02);
            font-weight:700;
        }
    }
    .slct-area {
        .radio-group {
            &::before {
                content: '';
                display:block;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-16px;
                margin-left:-16px;
                width:32px;height:32px;
                border: 1px solid red;
            }
        }
    }
}