@import "../scss/base/mixin";
/* 인증번호 불일치시 서비스 종료 화면 */
body {
	background-color: var(--dt-gray05);
}
.page-wrapper {
	height: 100%;
	.container {
		height: 100%;
		.section__cont {
			height: 100%;
			justify-content: space-between;
			//background-color: var(--dt-gray05);
			&:first-child {
				padding-top: 0;
			}
		}
	}
}
.cont__wrap {
	&:first-child {
		//height: 100%;
		//overflow-y: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		row-gap: 12px;
		padding-top: 0;
	}
	&:last-child {
		position: relative;
		.card-group {
			padding: 0 0 20px;
		}
	}
	&.serviceEnd {
		padding-top: 20vh;
		padding-bottom: 15vh;
		.img-box {
			min-width: 68px;
			width: 68px;
			height: 68px;
		}
		.tit-head {
			@include fw-6(20px);
			line-height: 1.5;
			color: var(--dt-gray16);
			text-align: center;
			word-break: keep-all;
		}
		.sub-txt {
			@include fw-5(16px);
			line-height: 1.4;
			color: var(--dt-gray11);
			text-align: center;
			word-break: keep-all;
			.color-prim {
				color: var(--dt-primary);
			} 
		}
	}
	.sub-tit {
		@include fw-5(16px);
		color: var(--dt-gray11);
		margin-bottom: 12px;
	}
}