<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>call ui</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/start.css">

	<!-- Scripts -->
</head>
<body>
	<!-- ====== start page ====== -->
	<div class="page-wrapper">
		<div class="container">
			<div class="section__cont start">
				<!-- 상단 로고 & 타이틀 -->
				<div class="cont__wrap start-top">
					<span class="intro-logo img-box">
						<img src="../../../static/images/img/logo-lg.svg">
					</span>
					<div class="con__tit-box">
						<span class="tit">모바일 고객센터입니다</span>
						<span class="tit">연결할 채널을 선택해주세요</span>
					</div>
				</div>
				<!-- 인트로 가로 카드 영역 -->
				<div class="cont__wrap">
					<div class="card-group flex-column">
						<div class="card horizon">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										<img src="../../../static/images/icon/ic-card-arsEye.svg" alt="Call Ui">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">Call Ui</h3>
									<p class="txt">화면을 보고 스스로 탐색하고 선택</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button class="btn btn-md btn-prim" id="goIntro" type="button">
										<span class="txt">연결</span>
									</button>
								</div>
							</div> 
						</div>
						<div class="card horizon">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										<img src="../../../static/images/icon/ic-card-arsVoice-32.svg" alt="음성 ARS">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">음성 ARS</h3>
									<p class="txt">음성안내를 듣고 키패드 숫자 입력</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button class="btn btn-md btn-prim" type="button">
										<span class="txt">연결</span>
									</button>
								</div>
							</div> 
						</div>
						<div class="card horizon">
							<div class="card-body">
								<div class="card__util">
									<span class="img-box">
										<img src="../../../static/images/icon/ic-card-ai-smile.svg" alt="AI 상담">
									</span>
								</div>
								<div class="card__text">
									<h3 class="tit">AI 상담</h3>
									<p class="txt">AI상담사에게 문의사항 직접 말하기</p>
								</div>
							</div>
							<div class="card-footer">
								<div class="btn-group">
									<button class="btn btn-md btn-prim" type="button">
										<span class="txt">연결</span>
									</button>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			// 연결 버튼 누르면 다음 화면으로 이동
			const btn = document.getElementById('goIntro');
			if (!btn) return;

			btn.addEventListener('click', () => {
			window.location.href = './callEnd.html';
			});
		});
	</script>

</body>
</html>